<template>
  <div class="expense-splitting-form">
    <table class="table table-sm editable new-expenses-table">
      <thead>
      <tr>
        <th scope="col" class="expense-product">Товар</th>
        <th scope="col" class="expense-quantity">Кол-во</th>
        <th scope="col" class="expense-amount">Сумма</th>
        <th scope="col" class="expense-note">Примечание</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(expense, index) in expenses" :key="index">
        <td class="expense-product">
          <product-autocomplete
            :input-class="errors.hasFieldErrors(index, 'product') ? 'error' : ''"
            :title="errors.fieldError(index, 'product')"
            v-model="expense.product"
            :ref="'product_' + index"></product-autocomplete>
        </td>
        <td class="expense-quantity">
          <input class="form-control quantity"
                 :class="errors.hasFieldErrors(index, 'quantity') ? 'error' : ''"
                 :title="errors.fieldError(index, 'quantity')"
                 type="text" size="4" required v-model="expense.quantity" :ref="'quantity_' + index">
        </td>
        <td class="expense-amount">
          <money
            :css_class="errors.hasFieldErrors(index, 'amount') ? 'amount error' : 'amount'"
            :title="errors.fieldError(index, 'amount')"
            size="8" :ref="'amount_' + index" v-model="expense.amount"
            @money-warning="onAmountWarning(index)"
            required>
          </money>
        </td>
        <td class="expense-note">
          <input class="form-control note" type="text" v-model="expense.note">
        </td>
        <td class="actions">
          <button v-if="expenses.length > 1" class="btn-link as-icon" @click="remove(index)" title="Удалить" tabindex="-1">
            <span class="icon icon-cancel"></span>
          </button>
        </td>
      </tr>
      <tr class="total-row">
        <td colspan="2">Итого</td>
        <td class="expense-amount">{{ total|amount }}</td>
        <td class="actions">
          <button class="btn-link" @click="add">Добавить строку</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {filters, msgToUser} from '../../vue_mixins';
import {Errors} from '../../Errors';
import ProductAutocomplete from './ProductAutocomplete';
import Money from './Money';

export default {
  components: {
    ProductAutocomplete,
    Money,
  },
  mixins: [
    msgToUser,
    filters,
  ],
  data() {
    return {
      expenses: this.initialExpenses(),
      errors: new Errors(),
      orig_total: this.initialExpense.amount,
    };
  },
  props: {
    initialExpense: Object,
    route: Object,
  },
  computed: {
    total() {
      // @todo: обработать ситуацию, когда сумма уходит в минус.
      // Сначала находим остаток от новых расходов.
      let orig_total = this.orig_total;
      for (let i in this.expenses) {
        let expense = this.expenses[i];
        if (i > 0) {
          orig_total -= parseFloat(expense.amount ? expense.amount : 0.0);
        }
      }
      // Потом этот остаток задаем первому расходу (который разбивается).
      // this.expenses[0].amount = orig_total;

      // И потом просто считаем итого.
      let total = 0.0;
      for (let expense of this.expenses) {
        total += parseFloat(expense.amount ? expense.amount : 0.0);
      }

      return total;
    },
    diff() {
      return this.initialExpense.amount - this.total;
    },
  },
  methods: {
    initialExpenses() {
      let firstExpense = {
        product: this.initialExpense.product,
        quantity: this.initialExpense.quantity,
        amount: this.initialExpense.amount,
        note: this.initialExpense.note,
      };

      return [
        firstExpense,
        this._newExpense(),
      ];
    },
    add() {
      let newExpense = this._newExpense();
      this.expenses.push(newExpense);
      this.setFocus();
    },
    _newExpense() {
      return {
        product: '',
        quantity: 1,
        amount: '',
        note: '',
      };
    },
    remove(index) {
      this.expenses.splice(index, 1);
    },
    save() {
      this.validate();
      if (this.errors.hasErrors()) {
        this.showErrors(this.errors.listUniqueErrors());
        return;
      }
      this.$emit('save', this.expenses);
    },
    validate() {
      this.errors.reset();

      for (let index = 0; index < this.expenses.length; index++) {

        let expense = this.expenses[index];

        if ('undefined' === typeof expense.product.id || !expense.product.id.length) {
          this.errors.addError(index, 'product', 'Товар обязателен.');
        }
        if (!expense.quantity.toString().length) {
          this.errors.addError(index, 'quantity', 'Кол-во обязательно.');
        }
        if (!expense.amount.toString().length) {
          this.errors.addError(index, 'amount', 'Сумма обязательна.');
        }

        if (expense.amount < 0.0) {
          this.errors.addError(index, 'amount', 'Сумма не может быть отрицательной.');
        }
      }
    },
    setFocus() {
      this.$nextTick(() => {
        let ref = 'product_' + (this.expenses.length - 1);
        this.$refs[ref].setFocus();
      });
    },
    onAmountWarning(index) {
      // Сообщение должно остаться только у текущего поля.
      for (let i in this.expenses) {
        if (i != index) {
          this.$refs['amount_' + i][0].resetWarning();
        }
      }
    },
  },
};
</script>
