<template>
	<div class="expense-updating-form">
		<div class="expense-date form-group">
			<label for="date">Дата</label>
			<input id="date" class="form-control date" :class="errors.has('date') ? 'error' : ''" name="date" type="date" v-model="expense.date">
			<div class="invalid-feedback" v-show="errors.has('date')">{{errors.get('date')}}</div>
		</div>
		<div class="expense-product form-group">
			<product-autocomplete id="product" :input-class="errors.has('product') ? 'error' : ''" v-model="expense.product" label="Товар" @input="onSetProduct" ref="first_focus"></product-autocomplete>
			<div class="invalid-feedback" v-show="errors.has('product')">{{errors.get('product')}}</div>
		</div>
		<div class="row">
			<div class="expense-quantity form-group">
				<label for="quantity">Кол-во</label>
				<input id="quantity" class="form-control quantity" :class="errors.has('quantity') ? 'error' : ''" type="text" size="4" v-model="expense.quantity">
				<div class="invalid-feedback" v-show="errors.has('quantity')">{{errors.get('quantity')}}</div>
			</div>
      <select-unit :units="units" v-model="expense.unit.id"></select-unit>
			<div class="expense-amount form-group">
				<money id="amount" :css_class="errors.has('amount') ? 'amount error' : 'amount'" size="10" v-model="expense.amount">
					<template v-slot:label>
						<label for="amount">Сумма</label>
					</template>
				</money>
				<div class="invalid-feedback" v-show="errors.has('amount')">{{errors.get('amount')}}</div>
			</div>
		</div>
		<div class="expense-contractor form-group">
			<label for="contractor">Контрагент</label>
			<autocomplete id="contractor" v-model="expense.contractor"
				:query-route="route('api.contractors.find')"
				:add-route="route('api.contractor.add')" @input="onSetContractor"></autocomplete>
		</div>
		<div class="expense-note form-group">
			<label for="note">Примечание</label>
			<textarea id="note" class="form-control note" rows="2" v-model="expense.note"></textarea>
		</div>
	</div>
</template>

<script>
	import {msgToUser, routeAdapter} from '../../vue_mixins';
	import {expenseValidator} from './mixins';
	import {date_from_format} from '../../functions';
	import Autocomplete from "../Autocomplete";
	import ProductAutocomplete from './ProductAutocomplete';
  import Money from "./Money";
  import SelectUnit from "../unit/Select";

	export default {
		mixins: [
			msgToUser,
      routeAdapter,
			expenseValidator,
		],
		components: {
      Autocomplete,
			ProductAutocomplete,
			Money,
      SelectUnit,
		},
		data() {
			return {
				expense: this.initExpense(),
				originalExpense: this.initExpense(),
				errors: new Map(),
			}
		},
		props: {
			initialExpense: Object,
      units: Object,
		},
		methods: {
			initExpense() {
			  let expense = Object.assign({}, this.initialExpense);
			  expense.date = date_from_format(expense.date);
				return expense;
			},
			onSetProduct(product) {
				this.expense.product = product;
			},
			onSetContractor(value) {
				this.expense.contractor = value;
			},
			save() {
				this.errors = this.validate(this.expense);
				if (this.errors.size) {
					this.showErrors(Object.values(this.errors));
					return;
				}

				this.$emit('save', this.expense, this.originalExpense);
			},
		},
		mounted: function () {
      this.$refs.first_focus.setFocus();
		},
	}
</script>
