<template>
  <div class="alert alert-error">
    <ul>
      <li v-for="data in Array.from(errors, ([key, value]) => ({ key, value }))">{{ data.value }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'FormAlert',
  props: {
    errors: Map,
  },
};
</script>
