<template>
  <div class="money-wrapper">
    <div class="money-warning" role="tooltip" v-show="warningMsg">{{ warningMsg }}</div>
    <slot name="label"></slot>
    <input class="money form-control" :class="css_class" type="text" autocomplete="off" ref="input"
           v-model="formattedValue"
           v-bind="$attrs"
           v-on="inputListeners"
           @keydown="onKeyDown"
           @keyup="onKeyUp"
    >
  </div>
</template>

<script>
import {Selection} from '../../Selection';

const KEY_UP_SKIP_KEYS = [
  'Home',
  'End',
  'Tab',
  'Enter',
  'ArrowDown',
  'Down',
  'ArrowUp',
  'Up',
  'ArrowLeft',
  'Left',
  'ArrowRight',
  'Right',
  'Control',
];

const SERVICE_KEYS = ['Backspace', 'Delete'];

export default {
  inheritAttrs: false,
  data() {
    return {
      formattedValue: this.format(this.value),
      insertedCharsCount: 0,
      warningMsg: null,
    };
  },
  props: {
    value: null,
    currency: {
      type: Object,
      default: function () {
        return {
          thousandsSeparator: ' ',
          decimalSeparator: ',',
          decimalsCount: 2,
        };
      },
    },
    css_class: String,
  },
  computed: {
    inputListeners() {
      var vm = this;
      // `Object.assign` объединяет объекты вместе, чтобы получить новый объект
      return Object.assign({},
        // Мы добавляем все слушатели из родителя
        this.$listeners,
        // Затем мы можем добавить собственные слушатели или
        // перезаписать поведение некоторых существующих.
        {
          // Перекрываем, чтобы ничего никуда не уходило само.
          input(event) {
            // Родителю должно отправится корректное и готовое к использованию значение.
            // Поэтому input отправляем вручную из keyup (onKeyUp), когда значение именно такое.
          },
          keyup(event) {

          },
        },
      );
    },
  },
  methods: {
    isServiceKey: function (key) {
      return (-1 !== SERVICE_KEYS.indexOf(key));
    },
    isDigit: function (key) {
      let re = new RegExp('[0-9]');
      return key.match(re);
    },
    isDecimalSeparator: function (key) {
      return this.currency.decimalSeparator === key;
    },
    exists: function (key) {
      return (-1 !== this.formattedValue.indexOf(key));
    },
    eventCanBeSkippedToCheck: function (event) {
      return event.ctrlKey || event.altKey
        || -1 !== KEY_UP_SKIP_KEYS.indexOf(event.key)
        || event.key.toString().length > 1 && !this.isServiceKey(event.key);
    },
    removeThousandsSeparators: function (str) {
      return str.toString().replace(this.currency.thousandsSeparator, '');
    },
    setWarning: function (msg) {
      this.warningMsg = msg;
      this.$emit('money-warning');
    },
    resetWarning: function () {
      this.warningMsg = null;
      this.$emit('money-reset-warning');
    },
    // Гасим неугодные символы.
    onKeyDown: function (event) {
      if (this.eventCanBeSkippedToCheck(event)) {
        return;
      }

      // Неудобно тыкаться по запятым-точкам, когда вполне можно автоматизировать
      // приведение к нужному разделителю (и юзать NumPad, например, невзирая).
      let key = event.key;
      if (',' === key && key !== this.currency.decimalSeparator) {
        key = this.currency.decimalSeparator;
      }
      else if ('.' === key && key !== this.currency.decimalSeparator) {
        key = this.currency.decimalSeparator;
      }
      let isDecimalSeparator = this.isDecimalSeparator(key);
      let isDigit = this.isDigit(key);
      let isServiceKey = this.isServiceKey(key);

      if (!isServiceKey && !isDigit && !isDecimalSeparator) {
        event.preventDefault();
        this.setWarning('Допустимые символы: цифры или "' + this.currency.decimalSeparator + '".');
        return;
      }

      if (isDecimalSeparator && this.exists(key)) {
        event.preventDefault();
        this.setWarning('Разделитель может быть только один.');
        return;
      }

      // Количество десятичных знаков.
      let selection = new Selection(this.$refs.input);
      let decimalSepPos = this.formattedValue.indexOf(this.currency.decimalSeparator);

      // Обрабатываем только если ввод идет в части десятичных знаков.
      let isInDecimal = (-1 !== decimalSepPos && selection.start > decimalSepPos);

      if (isInDecimal && !isServiceKey) {
        let current_decimals_count = this.formattedValue.length - decimalSepPos - 1;
        if (this.currency.decimalsCount === current_decimals_count) {
          event.preventDefault();
          this.setWarning('Не более ' + this.currency.decimalsCount + '-х десятичных знаков.');
          return;
        }
      }

      // 0 может стоять в начале только если сумма меньше 1,
      // следовательно после 0 должен идти десятичный разделитель.
      if ('0' === this.formattedValue && !isDecimalSeparator && selection.start > 0) {
        event.preventDefault();
        this.setWarning('Допустимые символы: "' + this.currency.decimalSeparator + '".');
        return;
      }

      // Во всех остальных случаях 0 не может быть в начале.
      // Значит, если мы не вводим разделитель и вводим не десятичную часть
      if (!isDecimalSeparator && !isInDecimal) {
        // то пробуем возможный будущий результат
        let assumed = this.assume(this.formattedValue, selection, key);

        // очищаем его от разделителей тысяч
        assumed = this.removeThousandsSeparators(assumed);

        // и проверяем на наличие нулей в начале.
        let re = new RegExp('^0+[1-9]*');
        if ('0' !== assumed && assumed.match(re)) {
          event.preventDefault();
          this.setWarning('Целая часть суммы больше 0 не может начинаться с 0.');
          return;
        }
      }

      // Все проверки пройдены, сбрасываем сообщение.
      this.resetWarning();
    },
    onKeyUp(event) {
      if (this.eventCanBeSkippedToCheck(event)) {
        return;
      }

      // Сейчас наш элемент ввода содержит нововведенное.
      // Делаем из него реальное значение
      let rawValue = this.formattedToRaw(this.formattedValue);

      // и отправляем родителю.
      // Родитель установит это значение у модели и отправит нам его обратно.
      // Мы поймаем в watch, отформатируем и поставим в поле ввода.
      this.$emit('input', rawValue);
    },
    format: function (rawValue, currentFormatted = '') {
      if (!rawValue) {
        return '';
      }
      let amount = rawValue.toString();
      // Сохраняем кол-во разделителей тысячных в отформарированной строке до её изменения.
      // Разница с кол-вом этих разделителей в новой отформатированной строке позволит
      // нам установить курсор в нужную позицию.
      // Позиция курсора учитывает изменения только в целой части.
      let thousandsSepCount = currentFormatted.split(this.currency.thousandsSeparator).length - 1;

      // Поскольку хранится как float, то разделитель у хранимого будет всегда точка.
      let values = amount.split('.');
      this.insertedCharsCount = 0;

      // Есть разделитель.
      if (values.length > 1) {
        let integral = values[0];
        integral = integral.trim();
        let decimals = values[1].trim();
        // Форматируем целую часть (только вставка разделителей тысяч)
        // и (для вывода) добавляем разделитель с десятичной частью,
        // обрезанной по допустимому кол-ву цифр.
        integral = this.formatWithThousandsSeparator(integral);
        let newThousandsSepCount = integral.split(this.currency.thousandsSeparator).length - 1;
        // Сколько новых разделителей тысячных - на столько и курсор подвинем.
        this.insertedCharsCount = newThousandsSepCount - thousandsSepCount;

        amount = integral + this.currency.decimalSeparator + decimals.substr(0, this.currency.decimalsCount);
      }
      // Разделителя нет, поэтому просто форматируем целое число.
      else if (amount) {
        amount = this.formatWithThousandsSeparator(amount);
        let newThousandsSepCount = amount.split(this.currency.thousandsSeparator).length - 1;
        // Сколько новых разделителей тысячных - на столько и курсор подвинем.
        this.insertedCharsCount = newThousandsSepCount - thousandsSepCount;
      }

      return amount;
    },
    formatWithThousandsSeparator: function (value) {
      // Указывать отрицательные значения нельзя (нельзя минус ввести),
      // но значение отрицательным может оказаться придя извне.
      // И это надо показать (потому что, например, валидация может выдать сообщение
      // о недопустимости отрицательных значений, и пользователь должен видеть отрицательность).
      let is_negative = value < 0.0;
      let groups = value.toString().match(/(\d+?)(?=(\d{3})+(?!\d)|$)/g);
      let result = groups ? groups.join(this.currency.thousandsSeparator) : value;
      if (is_negative) {
        result = '-' + result;
      }
      return result;
    },
    formattedToRaw: function (amount) {
      if (0 === amount.toString().length) {
        return null;
      }

      amount = this.removeThousandsSeparators(amount);
      // При любом десятичном разделителе должен быть float в итоге
      amount = amount.replace(this.currency.decimalSeparator, '.');
      return (amount !== '') ? amount : null;
    },
    assume: function (source, selection, char) {
      let srcStr = source.toString();

      let re = new RegExp('[0-9]|' + this.currency.decimalSeparator);
      let isChar = char.match(re);

      if (selection.length) {
        let substr = srcStr.substr(selection.start, selection.length);
        switch (char) {
          case 'Delete':
          case 'Backspace':
            return srcStr.replace(substr, '');

          default:
            return srcStr.replace(substr, char);
        }
      }
      else {
        // Если удаляется один символ (вперед или назад).
        switch (char) {
          case 'Delete':
            return srcStr.substr(0, selection.start) + srcStr.substr(selection.start + 1);

          case 'Backspace':
            return srcStr.substr(0, selection.start - 1) + srcStr.substr(selection.start);

          default:
            let result = srcStr.substr(0, selection.start);
            if (isChar) {
              result += char;
            }
            result += srcStr.substr(selection.start);
            return result;
        }
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
  },
  watch: {
    // Как бы и откуда бы не устанавливалось реальное значение,
    // здесь - самое место задать полю ввода отформатированное.
    value(newValue, oldValue) {
      // После удаления последнего символа в поле ввода получим null.
      // В этом случае делать ничего не надо.
      if (null !== newValue) {

        // На форматирование должно пойти число в сыром виде,
        // без элементов форматирования врод разделителей тысячных.
        let re = new RegExp(this.currency.thousandsSeparator, 'g');
        let value = newValue.toString().replace(re, '');
        let selection = new Selection(this.$refs.input);
        this.formattedValue = this.format(value, this.formattedValue);
        // Чтобы смещение курсора применилось к новой отформатированной строке.
        this.$nextTick(() => {
          selection.moveForward(this.insertedCharsCount).apply();
        });
      }

    },
  },
};
</script>
