<template>
  <div class="autocomplete-wrapper">
    <label v-if="label" v-html="label"></label>
    <input class="form-control" :class="inputClass || ''" type="text" placeholder="От 2-х символов." autocomplete="off"
           :value="formatter.product(value)" ref="input"
           v-bind="$attrs"
           v-on="inputListeners"
           @input="onInput"
           @keydown.down.stop.prevent="onArrowDown"
           @keydown.up.stop.prevent="onArrowUp"
           @keydown.enter.stop.prevent="onEnter"
           @keydown.esc.stop.prevent="onEsc"
           @keydown.tab.stop="onTab"
           @blur="onBlur"
    >
    <ul class="autocomplete-list" v-show="isOpen" tabindex="0">
      <li class="autocomplete-result"
          v-for="(item, index) in results" :key="index"
          @click="setResult(item)"
          :class="{ 'is-active': index === selectedIndex }"
          v-html="formatter.foundProductFormatted(item, value)">
      </li>
    </ul>
    <modal v-if="allowAddProduct && newProduct" @closed="onAddProductCanceled">
      <template v-slot:header>Новый товар</template>
      <template v-slot:body>
        <product-form ref="productForm" @add="onAddProduct" :product="newProduct"></product-form>
      </template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" type="button" @click="addProduct">Добавить</button>
      </template>
    </modal>
  </div>
</template>

<script>
import ProductApi from '../../api/product';
import ProductForm from './ProductForm';
import Modal from '../Modal';
import {autocomplete, msgToUser} from '../../vue_mixins';
import {Formatter, CATEGORY_PRODUCT_DELIMITER} from '../../Formatter';
import {Product} from '../../Product';

export default {
  inheritAttrs: false,
  mixins: [
    msgToUser,
    autocomplete,
  ],
  components: {
    ProductForm,
    Modal,
  },
  data() {
    return {
      results: [],
      isOpen: false,
      selectedIndex: -1,
      newProduct: null,
      formatter: new Formatter(),
    };
  },
  props: {
    value: new Product(),
    inputClass: String,
    label: String,
    allowAddProduct: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    inputListeners() {
      return Object.assign({},
        this.$listeners,
        {
          input(event) {

          },
        },
      );
    },
  },
  methods: {
    onEnter(event) {
      // Результаты закрываем в любом случае,
      this.isOpen = false;
      // если в них что-то было выделено, то делаем выбор этого выделеного.
      if (-1 !== this.selectedIndex) {
        this.setResult(this.results[this.selectedIndex]);
      }
      // А вот если результатов нет, то запускаем добавление нового товара.
      else if (this.allowAddProduct && event.target.value.length > 1) {
        this.newProduct = this.buildProductFromInput(event.target.value);
      }
    },
    onTab(event) {
      if (-1 !== this.selectedIndex) {
        this.setResult(this.results[this.selectedIndex]);
      }
      else if (this.value && !this.value.id) {
        event.preventDefault();
        this.onEnter(event);
      }
    },
    onBlur(event) {
      // Клик мышкой для выбора из списка найденных тоже вызывает потерю фокуса.
      // А нам, естественно, надо сделать выбор, а не запускать добавление.
      if (this.$el.contains(event.relatedTarget)) {
        return;
      }

      this.isOpen = false;

      // Таймер мог быть уже запущен, но раз мы ушли из поля ввода, то поиск уже не нужен.
      this.resetFindTimeout(window.findProductsTimer);
      if (-1 !== this.selectedIndex) {
        this.setResult(this.results[this.selectedIndex]);
        this.selectedIndex = -1;
        return;
      }
      else if (this.value && !this.value.id && !this.newProduct) {
        if (this.allowAddProduct && event.target.value.length > 1) {
          this.newProduct = this.value;
        }
        else {
          this.$emit('clear');
        }
      }
      this.results = [];
    },
    onInput(event) {
      this.resetFindTimeout(window.findProductsTimer);

      let product = this.buildProductFromInput(event.target.value);

      this.$emit('input', product);

      if (event.target.value && this.formatter.isStrHasDelimiterLast(event.target.value)) {
        this.findProducts(product);
        return;
      }

      if (product.title.length > 1) {
        this.startFindProductsTimeout(product);
      }
      else {
        this.clearResult();
      }
    },
    /**
     * @param {string} input_value
     *
     * @returns {Product} product
     */
    buildProductFromInput(input_value) {
      let product = new Product();
      if (!input_value.length) {
        return product;
      }
      let values = input_value.split(CATEGORY_PRODUCT_DELIMITER);
      if (1 === values.length) {
        product.title = input_value;
        return product;
      }

      switch (values.length) {
        case 2:
          product.category = {
            title: values[0],
          };
          product.title = values[1];
          break;

        case 3:
          product.category = {
            parent: {
              title: values[0],
            },
            title: values[1],
          };
          product.title = values[2];
          break;

        default:
          break;
      }

      return product;
    },
    /**
     * @param {Product} product
     */
    startFindProductsTimeout(product) {
      this.resetFindTimeout(window.findProductsTimer);
      window.findProductsTimer = setTimeout(this.findProducts.bind(this), 300, product);
    },
    /**
     * @param {Product} product
     */
    findProducts(product) {
      // @todo: для разнообразия можно добавить проверку на то,
      // что набираемая строка ранее не была добавлена.
      // Например, набираем "мо", "мол", "моло" - если "мо" не было найдено,
      // то не имеет смысл запускать поиск для "мол" и "моло".
      this.results = [];
      this.isOpen = true;

      ProductApi.find({
        like: product.title,
        category_title: product.category ? product.category.title : '',
      })
        .then((response) => {
          if ('error' === response.data.type) {
            this.processResponse(response);
            this.isOpen = false;
            return;
          }

          this.results = response.data.map(resultItem => new Product(resultItem));

          if (1 === this.results.length) {
            this.selectedIndex = 0;
          }
          else {
            // Если есть полное совпадение, то его сразу и выделим.
            let lowerCased = this.results.map(item => item.title.toLowerCase());
            this.selectedIndex = lowerCased.indexOf(product.title.toLowerCase());
          }
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    /**
     * @param {Product} product
     */
    setResult(product) {
      this.isOpen = false;
      this.$emit('input', product);
    },
    addProduct() {
      this.$refs.productForm.add();
    },
    onAddProductCanceled() {
      this.newProduct = null;
      this.$emit('clear');
      this.setFocus();
    },
    onAddProduct(product) {
      ProductApi.add(product.category.id, product.title)
        .then((response) => {
          if ('error' === response.data.type) {
            this.processResponse(response);
            this.isOpen = false;
            return;
          }

          let product = new Product(response.data.product);
          this.results = [product];
          this.selectedIndex = 0;
          this.setResult(product);
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      }).finally(() => {
        this.newProduct = null;
      });
      this.setFocus();
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
  },
};
</script>
