<template>
	<div>
		<div class="product form-group">
			<label for="product">Товар</label>
			<input id="product" type="text" class="form-control" :class="errors.has('product') ? 'error' : ''" v-model="title" ref="first_focus">
			<div class="invalid-feedback" v-show="errors.has('product')">{{errors.get('product')}}</div>
		</div>
		<div class="category form-group">
			<autocomplete id="category"
				:css_class="errors.has('category') ? 'error' : ''"
				v-model="category"
				:query-route="route('api.categories.find')"
				:add-route="route('api.category.add')"
				@clear="onClearCategory"
				label="Категория"></autocomplete>
			<div class="invalid-feedback" v-show="errors.has('category')">{{errors.get('category')}}</div>
		</div>
	</div>
</template>

<script>
	import {msgToUser, routeAdapter} from '../../vue_mixins';
	import {Item} from '../../Item';
  import Autocomplete from "../Autocomplete";

	export default {
	  components: {
      Autocomplete,
    },
		mixins: [
			msgToUser,
			routeAdapter,
		],
		data() {
			return {
				title: this.product.title,
				category: this.product.category,
				errors: new Map(),
			}
		},
		props: {
			product: Object,
		},
		methods: {
			add() {
				this.errors = this.validate();
				if (this.errors.size) {
					this.showErrors(Object.values(this.errors));
					return;
				}

				this.$emit('add', this.buildProduct());
			},
			buildProduct() {
				return {
					id: null,
					title: this.title,
					category: this.category
				};
			},
			/**
			 * @returns {Map} errors
			 */
			validate() {
				let map = new Map();

				if (!this.title) {
					map.set('product', 'Название обязательно.');
				}
				if (!this.category.id) {
					map.set('category', 'Категория обязательна.');
				}

				return map;
			},
			onClearCategory() {
				this.category = new Item();
			}
		},
		mounted: function () {
			this.$nextTick(() => {
				this.$refs.first_focus.focus();
			});
		},
	}
</script>
