<template>
  <div class="category-details">
    <div class="category-item">
      <div class="category-title">
        <div class="show-details">
          <button class="btn-link toggler" @click="toggleChild()" :title="show_details ?
					'Скрыть детали' :
					'Показать детали'" v-if="'category' === item.type">
            <span class="icon" :class="show_details ? 'icon-collapse' : 'icon-expand'"></span>
          </button>
        </div>
        <div class="text-nowrap">{{ item.title }}</div>
      </div>
      <div class="amount-wrapper">{{ item.amount|amount }}</div>
    </div>
    <ul class="details" v-if="show_details">
      <li v-for="child in children" :key="child.id">
        <category-details :initial-item="child"></category-details>
      </li>
    </ul>
  </div>
</template>

<script>
import AnalyticsApi from '../../../api/analytics';
import {filters} from '../../../vue_mixins';
import {EventBus} from '../../../event_bus';

export default {
  name: 'CategoryDetails',
  mixins: [
    filters,
  ],
  data() {
    return {
      item: this.initialItem,
      show_details: false,
      children: null,
    };
  },
  props: {
    initialItem: Object,
  },
  methods: {
    toggleChild() {
      if (null === this.children) {
        AnalyticsApi.getByCategory(this.item.id)
          .then((response) => {
            if ('success' === response.data.type) {
              this.children = response.data.data;
              this.show_details = true;
              EventBus.$emit('children-loaded', this.item, this.children);
            }
          });
      }
      else {
        this.show_details = !this.show_details;
        if (this.show_details) {
          EventBus.$emit('children-loaded', this.item, this.children);
        }
      }
    },
  },
};
</script>
