<template>
  <div class="by-categories">
    <div :id="id" class="chart"></div>
    <section class="legend block">
      <category-details
        :initial-item="item"
        @children-loaded="onChildrenLoaded"
        v-for="item in items" :key="item.id">
      </category-details>
    </section>
  </div>
</template>

<script>
import {money_format} from '../../../functions';
import CategoryDetails from './CategoryDetails';
import ApexCharts from 'apexcharts';
import {EventBus} from '../../../event_bus';

export default {
  data() {
    return {
      id: 'by-categories-chart',
      chart: null,
      items: this.initItems,
      chartItems: this.initItems,
      title: 'Итоги по категориям',
    };
  },
  components: {
    CategoryDetails,
  },
  props: {
    initItems: Array,
  },
  methods: {
    dataOptions() {
      return {
        chart: {
          type: 'bar',
          width: '100%',
          height: '100%',
          fontFamily: '"OpenSans Regular", "Verdana", sans-serif',
          toolbar: {
            show: false,
          },
        },
        title: {
          text: this.title,
          style: {
            fontSize: '20px',
          },
        },
        grid: {
          padding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0,
          },
        },
        plotOptions: {
          bar: {
            horizontal: true,
            dataLabels: {
              position: 'bottom',
            },
          },
        },
        series: [
          {
            name: 'Итого',
            data: this.getChartValues(),
          },
        ],
        dataLabels: {
          enabled: true,
          offsetX: 10,
          formatter: function (val) {
            return money_format(val);
          },
          style: {
            colors: ['#304758'],
          },
        },
        xaxis: {
          categories: this.getChartCategories(),
          labels: {
            show: false,
            style: {
              fontSize: '14px',
            },
          },
        },
        yaxis: {
          labels: {
            show: true,
            maxWidth: 300,
            offsetX: 0,
            style: {
              fontSize: '14px',
            },
          },
        },
      };
    },
    getChartCategories() {
      let items = null;
      if (undefined !== this.chartItems) {
        items = this.chartItems;
      }
      else {
        items = this.initItems;
      }
      return items.map(item => item.title);
    },
    getChartValues() {
      let items = null;
      if (undefined !== this.chartItems) {
        items = this.chartItems;
      }
      else {
        items = this.initItems;
      }
      return items.map(item => item.amount);
    },
    onChildrenLoaded(item, children) {
      this.chartItems = children;
      this.title = 'Итоги в категории "' + item.title + '"';
      this.chart.updateOptions(this.dataOptions());
    },
  },
  mounted() {
    this.chart = new ApexCharts(document.getElementById(this.id), this.dataOptions());
    this.chart.render();
  },
  created: function () {
    EventBus.$on('children-loaded', this.onChildrenLoaded);
  },
};
</script>
