@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-family}.ttf?ur81qa') format('truetype'),
  url('#{$icomoon-font-family}.woff?ur81qa') format('woff'),
  url('#{$icomoon-font-family}.svg?ur81qa##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add {
	&:before {
		content: $icon-add;
	}
}
.icon-ok {
	&:before {
		content: $icon-ok;
	}
}
.icon-cancel {
	&:before {
		content: $icon-cancel;
	}
}
.icon-delete {
	&:before {
		content: $icon-delete;
	}
}
.icon-edit {
	&:before {
		content: $icon-edit;
	}
}
.icon-split {
	&:before {
		content: $icon-split;
	}
}
.icon-join {
	&:before {
		content: $icon-join;
	}
}
.icon-analytics {
	&:before {
		content: $icon-analytics;
	}
}
.icon-link {
	&:before {
		content: $icon-link;
	}
}
.icon-to_tracking {
	&:before {
		content: $icon-to_tracking;
	}
}
.icon-finish {
	&:before {
		content: $icon-finish;
	}
}
.icon-unlink {
	&:before {
		content: $icon-unlink;
	}
}
.icon-start {
	&:before {
		content: $icon-start;
	}
}
.icon-collapse {
	&:before {
		content: $icon-collapse;
	}
}
.icon-expand {
	&:before {
		content: $icon-expand;
	}
}
.icon-tracking {
	&:before {
		content: $icon-tracking;
	}
}
.icon-folder_add {
	&:before {
		content: $icon-folder_add;
	}
}
.icon-folder_opened {
	&:before {
		content: $icon-folder_opened;
	}
}
.icon-folder {
	&:before {
		content: $icon-folder;
	}
}
.icon-arrow-left {
	&:before {
		content: $icon-arrow-left;
	}
}
.icon-arrow-right {
	&:before {
		content: $icon-arrow-right;
	}
}
.icon-catalog {
	&:before {
		content: $icon-catalog;
	}
}
.icon-filter {
	&:before {
		content: $icon-filter;
	}
}
.icon-hide {
	&:before {
		content: $icon-hide;
	}
}
.icon-item {
	&:before {
		content: $icon-item;
	}
}
.icon-move {
	&:before {
		content: $icon-move;
	}
}
.icon-show {
	&:before {
		content: $icon-show;
	}
}
.icon-star-empty {
	&:before {
		content: $icon-star-empty;
	}
}
.icon-star-full {
	&:before {
		content: $icon-star-full;
	}
}
