$icomoon-font-family: "icons" !default;

$icon-add: unquote('"\\f067"');
$icon-ok: unquote('"\\f00c"');
$icon-cancel: unquote('"\\f00d"');
$icon-delete: unquote('"\\e919"');
$icon-edit: unquote('"\\f044"');
$icon-split: unquote('"\\f065"');
$icon-join: unquote('"\\f066"');
$icon-analytics: unquote('"\\f080"');
$icon-link: unquote('"\\f0c1"');
$icon-to_tracking: unquote('"\\f11d"');
$icon-finish: unquote('"\\f11e"');
$icon-unlink: unquote('"\\f127"');
$icon-start: unquote('"\\f135"');
$icon-collapse: unquote('"\\f147"');
$icon-expand: unquote('"\\f196"');
$icon-tracking: unquote('"\\e916"');
$icon-folder_add: unquote('"\\e909"');
$icon-folder_opened: unquote('"\\e90a"');
$icon-folder: unquote('"\\e90b"');
$icon-arrow-left: unquote('"\\e901"');
$icon-arrow-right: unquote('"\\e902"');
$icon-catalog: unquote('"\\e904"');
$icon-filter: unquote('"\\e908"');
$icon-hide: unquote('"\\e90c"');
$icon-item: unquote('"\\e90d"');
$icon-move: unquote('"\\e90f"');
$icon-show: unquote('"\\e912"');
$icon-star-empty: unquote('"\\e914"');
$icon-star-full: unquote('"\\e915"');
