<template>
  <div class="month">
    <div class="changer-block">
      <div class="changer-elements">
        <div class="changer prev">
          <a class="btn-sm btn-primary" title="Предыдущий" :href="prevRoute" v-if="prevRoute">
            <span class="icon icon-arrow-left"></span>
          </a>
        </div>
        <div class="changer-title">
          <div class="month-toggler">
            <button class="btn-link month-title" ref="month_title" @click="showSelectMonth = !showSelectMonth">
              {{ months[month].title }}
            </button>
            <ul class="selectable-list" ref="month_select" v-show="showSelectMonth">
              <li v-for="(month_item, month_key) in months" :key="month_key">
                <a class="btn-link" :href="month_item.url">{{ month_item.title }}</a>
              </li>
            </ul>
          </div>
          , {{ year }}
        </div>
        <div class="changer next">
          <a class="btn-sm btn-primary" title="Следующий" :href="nextRoute" v-if="nextRoute">
            <span class="icon icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="calendar">
      <div class="table-view">
        <div class="table-row-view week-days">
          <div class="table-cell-view weekday-name" v-for="(weekdayName, index) in weekdayNames" :key="index">{{ weekdayName }}</div>
        </div>

        <div class="table-row-view week" v-for="(week, week_index) in weeks" :key="week_index">
          <div class="table-cell-view calendar-cell day" :class=cellClass(day) v-for="(day, week_day_index) in week" :key="week_day_index">
            <div class="cell-title day-number" v-if="day">{{ day.number }}</div>
            <table v-if="day && day.expenses.length" class="calendar-expenses">
              <tbody>
              <tr v-for="expense in day.expenses" class="calendar-expense">
                <td class="expense-title" :data-tooltip="products(expense)">{{ expense.title }}</td>
                <td class="expense-amount">{{ expense.amount|amount }}</td>
              </tr>
              </tbody>
            </table>
            <div v-if="day && day.expenses.length" class="calendar-expenses-total total" v-trim-whitespace>
              <span class="expense-title">Итого</span>
              <span class="expense-amount">{{ itemTotal(day)|amount }}</span></div>
          </div>
        </div>
      </div>
      <div class="legend">
        <list-items-view :items="byCategories" v-if="byCategories.length">
          <template v-slot:title>Категории</template>
        </list-items-view>
      </div>
    </div>
  </div>
</template>

<script>
import ListItemsView from '../../ListItemsView';
import {filters} from '../../../vue_mixins';

export default {
  components: {
    ListItemsView,
  },
  mixins: [
    filters,
  ],
  data() {
    return {
      year: this.data.year,
      month: this.data.month,
      showSelectMonth: false,
      weeks: this.data.weeks,
    };
  },
  props: {
    weekdayNames: Array,
    months: Object,
    data: Object,
    byCategories: Array,
    prevRoute: String,
    nextRoute: String,
  },
  methods: {
    itemTotal(item) {
      let total = 0.0;
      for (let expense of item.expenses) {
        total += parseFloat(expense.amount);
      }
      return total;
    },
    products(expense) {
      let html = '';
      for (let item of expense.items) {
        let amount = filters.filters.amount(item.amount);
        html += `<div>${item.title}: ${amount}</div>`;
      }
      return html;
    },
    handleClickOutside(event) {
      if (!this.$refs.month_select.contains(event.target)
        && !this.$refs.month_title.contains(event.target)) {
        this.showSelectMonth = false;
      }
    },
    cellClass(day) {
      if (!day) {
        return 'invisible';
      }
      if (!day.expenses.length) {
        return 'empty';
      }
      return '';
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
};
</script>
