<template>
  <div class="year">
    <div class="changer-block">
      <div class="changer-elements">
        <div class="changer prev">
          <a class="btn-sm btn-primary" title="Предыдущий" :href="prevRoute" v-if="prevRoute">
            <span class="icon icon-arrow-left"></span>
          </a>
        </div>
        <div class="changer-title">{{ year }}</div>
        <div class="changer next">
          <a class="btn-sm btn-primary" title="Следующий" :href="nextRoute" v-if="nextRoute">
            <span class="icon icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="calendar">
      <div class="table-view">
        <div class="table-row-view" v-for="(line, line_index) in months" :key="line_index">
          <div class="table-cell-view calendar-cell month" :class=cellClass(month) v-for="(month, month_index) in line" :key="month_index">
            <div class="cell-title" v-if="month.title">{{ month.title }}</div>
            <table v-if="month.expenses.length" class="calendar-expenses">
              <tbody>
              <tr v-for="expense in month.expenses" class="calendar-expense">
                <td class="expense-title">{{ expense.title }}</td>
                <td class="expense-amount">{{ expense.amount|amount }}</td>
              </tr>
              </tbody>
            </table>
            <div v-if="month.expenses.length" class="calendar-expenses-total total" v-trim-whitespace>
              <span class="expense-title">Итого</span>
              <span class="expense-amount">{{ itemTotal(month)|amount }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="legend">
        <list-items-view :items="byMonths" v-if="byMonths.length">
          <template v-slot:title>По месяцам</template>
        </list-items-view>
        <list-items-view :items="groupedMain.items" v-if="groupedMain.items.length">
          <template v-slot:title>{{ groupedMain.title }}</template>
        </list-items-view>
      </div>
    </div>
  </div>
</template>

<script>
import ListItemsView from '../../ListItemsView';
import {filters} from '../../../vue_mixins';

export default {
  components: {
    ListItemsView,
  },
  mixins: [
    filters,
  ],
  data() {
    return {
      months: this.data.months,
    };
  },
  props: {
    monthNames: Array,
    data: Object,
    groupedMain: Object,
    byMonths: Array,
    year: String,
    prevRoute: String,
    nextRoute: String,
  },
  methods: {
    itemTotal(item) {
      let total = 0.0;
      for (let expense of item.expenses) {
        total += parseFloat(expense.amount);
      }
      return total;
    },
    cellClass(month) {
      if (!month.title) {
        return 'invisible';
      }
      if (!month.expenses.length) {
        return 'empty';
      }
      return '';
    },
  },
};
</script>
