// Body
$body-bg: #f5f4f4;
$color: #333;
$silent-text-color: #535353;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;
$font-smaller-size: .8em;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$ok-color: mediumseagreen;

$gray: #eaeaea;
$gray-dark: #ccc;
$gray-light: #eee;

$bg-light: #f7f7f7;
$input-btn-focus-width: 1px !default;
$box-shadow-sm: 0 1px 1px rgba(0, 0, 0, .075) !default;

$border-color: $gray;
$border: 1px solid $gray;

$border-dark: 1px solid $gray-dark;

$card-border-color: #ddd;

$calendar-border-color: #bbb;
$row-delimiter-color: $calendar-border-color;

$nav-bar-height: 4em !default;
