@import "mixins";

.alert {
  @include base-padding;
  margin-bottom: .5em;
}

.alert p {
  margin: 0;
}

//.alert,
//.alert a,
//.alert a:visited,
//.alert a:focus {
//  color: white;
//}
.alert a,
.alert a:visited,
.alert a:focus {
  text-shadow: none;
  text-decoration: underline;
}

.alert-success {
  background-color: #51c351;
  text-shadow: 0 1px 1px green;
  border: 1px solid green;
}

.alert-warning {
  background-color: #e6ae00;
  border: 1px solid #ac8101;
  text-shadow: 0 1px 1px #ac8101;
}

.alert-error {
  border: 1px solid $red;
  background-color: #fff0f0;
  color: $red;
}
