// Fonts
@font-face {
  font-family: 'OpenSans Regular';
  font-weight: 400;
  font-display: auto;
  src: local('Open Sans'), url('../fonts/opensans/regular.woff') format('woff');
}

// Variables
@import 'variables';
@import 'layout';
@import 'tabs';
@import "form";
@import "buttons";
@import "table";
@import '../fonts/icons/style';
@import 'calendar';
@import 'by_categories';
@import 'modal';
@import "journal";
@import "mixins";
@import "alert";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg;
}

body,
input,
select,
textarea {
  font-family: "OpenSans Regular", 'Verdana', sans-serif;
  font-size: medium;
}

// Калькулятор: https://type-scale.com/
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

.menu {
  > li {
    list-style: none;
  }

  > li > a {
    display: block;
    position: relative;
  }

  li.active {
    font-weight: bold;

    a {
      color: #0058ff;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

ul ul {
  margin-left: 1em;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a,
a:visited,
a:focus,
.menu-item-action {
  color: #007bff;
  cursor: pointer;
}

a:hover,
a:active,
.actions a.active,
.menu-item-action:hover {
  color: #004c9d;
}

.row-no-flex {
  display: block;
}

header {
  border-bottom: 1px solid $border-color;
}

footer {
  border-top: 1px solid $border-color;
}

footer.actions {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total-row {
  color: $red;
}

.total {
  color: $red;
  border-top: 1px solid $calendar-border-color;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

label {
  color: #4e4e4e;
}

label .form-text {
  display: inline;
}

label[for="select-unit"] {
  white-space: nowrap;
}

.found-highlight {
  background-color: $yellow;
  color: black;
}

.invalid-feedback {
  display: block;
  margin-top: 0;
  color: $red;
}

.form-control {
  height: auto;
}

.table-sm input.form-control,
.table-sm select.form-control {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0.2rem 0.3rem;
  line-height: 1.4;

}

.btn-link {
  background-color: transparent;
  border: 0;
}

.alert .icon {
  margin-right: 0.5rem;
}

.strike-text {
  text-decoration: line-through;
}

.icon.red {
  color: $red;
}

.icon-star-empty,
.icon-star-full {
  color: $orange;
}

.expense-quantity input {
  text-align: right;
}

//.expense-contractor,
.expense-amount,
.expense-quantity,
.amount-wrapper {
  white-space: nowrap;
}

form {
  padding: 0.5em;
  background-color: $bg-light;
  margin-bottom: 0.3em;
  border: 1px solid $border-color;
}

.flexed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;

  .form-group {
    padding: 0;
  }

  .form-actions {
    margin-top: 0;
  }
}

.category-header {
  align-items: inherit;
}

td.actions .flexed {
  justify-content: center;
}

.btn-link.toggler {
  padding: 0;
  margin-right: 0.3em;
}

a.btn-sm:hover,
a.btn-sm:focus,
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.autocomplete-list {
  position: absolute;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.51);
  border: 1px solid $border-color;
  background-color: white;
}

.autocomplete-result {
  padding: 0 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 0;
  font-size: 0.7rem;
  border: none;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: $blue;
  color: white;
}

.badge {
  line-height: inherit;
}

.badge-gray {
  color: #545454;
  background-color: $gray;
}

.products-without-category-alert {
  background-color: $red;
  color: white;
  padding: 0 0.2rem;
}

.new-expense {
  > header {
    display: flex;
    justify-content: space-between;
  }

  > footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.new-expense .expense-note {
  width: 100%;
}

small.form-text {
  margin-top: 0;
  font-size: 0.7em;
}

.form-control.error {
  border: 1px solid $red !important;
  background-color: #fff0f0 !important;
  color: $red !important;
}

.input-group-append .icon {
  top: 2px;
}

.input-group-text {
  padding: 0 0.5rem;

  .btn-link {
    padding-right: 0;
    padding-left: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}

.inline label {
  margin: 0;
}

.inline label:after {
  content: ':';
  margin-right: 0.3em;
}

.amount-diff {
  font-size: 0.7em;
  line-height: 2.2;
}

.block {
  background: white;
  padding: 0.5em;
  border: 1px solid $border-color;
  margin-bottom: 1rem;

  header {
    display: flex;
    gap: 1em;
    padding-top: 0;
    margin-bottom: .5em;
  }
}

.list-items-view {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 1.2em;
    padding-top: 0.4em; // base body line-height - this line-height
  }

  .total {
    line-height: $line-height-base;
    padding-top: 0;
  }

  .label::after {
    content: ':';
  }

  .amount {
    white-space: nowrap;
  }
}

.simple-expense-view {
  .item {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .label {
    font-weight: bold;
  }

  .label::after {
    margin-right: 0.5em;
  }
}

.money-wrapper {
  position: relative;
}

.money-warning {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 0.7em;
  padding: 0.2em 0.4em;
  white-space: nowrap;
  color: #800;
  background-color: #ffe6e6;
  border: 1px solid #ff6f6f;
  box-shadow: 0 2px 3px #ff6f6f70;
}

[draggable=true] {
  cursor: grab;
}

[draggable=true]:hover {
  outline: 1px dashed gray;
}

.drag-image {
  padding: 0.2em 0.5em;
  background: white;
  box-shadow: 0 0 2px 0;
}

#new-expense-form {
  grid-area: new-expense-form;
}

#last-expense {
  grid-area: last-expense;
}

#today-expenses {
  grid-area: today-expenses;
}

.expense-to-form {
  padding: 0 0.5rem;
}

.new-transaction {
  max-width: 300px;
}

.favorites {
  .item {
    display: flex;
    gap: .5em;
    align-items: flex-start;
  }

  li:not(:last-child) {
    margin-bottom: .3rem;
  }

  .favorites-group .items {
    margin-left: 1em;
  }

  .favorites-group .item {
    margin: .5em 0;
  }

  button {
    padding: 0;
  }

  .expense button {
    text-align: left;
  }

  .info {
    font-style: italic;
    font-size: 0.7rem;
    color: $silent-text-color;

    > span:not(:last-child)::after {
      content: ';';
      margin-right: .5em;
    }
  }
}

.today-expenses-title {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.new-expense-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.2rem;
  grid-template-areas: "new-expense-form last-expense"
  											"today-expenses today-expenses";

  .today-expenses {
    grid-column: span 2;
  }
}

.expense-updating-form .row,
.new-expense .expense-quantity-amount {
  display: flex;
}

.expense-updating-form .row > div,
.expense-quantity-amount > div {
  flex: 1;
}

.expense-updating-form .row > :not(:first-child),
.expense-quantity-amount > :not(:first-child) {
  margin-left: 0.3rem;
}

.select-unit > div {
  display: flex;
}

.tooltip {
  position: absolute;
  padding: 2px 5px;
  border: 1px solid #cdb700;
  background-color: #fffad2;
  box-shadow: 3px 3px 3px rgba(205, 183, 0, 0.3);
  // @todo: bootstrap, так его и этак...
  opacity: 1;
  font-size: .8em;
}

.tracking-current table td {
  vertical-align: middle;
}

.icon-tracking.is-tracking {
  color: red;
}

.finished-tracking-content table:not(:last-child) {
  margin-bottom: 1em;
}

.filter-form {
  label {
    white-space: nowrap;
  }

  fieldset {
    display: flex;
    gap: 1em;
  }
}

.tab-content .filter-form {
  border: none;
  padding: 0;
}

.filter-form.flexed,
.filter-form > .flexed {
  align-items: flex-end;
}

.accounts-history {
  table:not(:last-child) {
    margin-bottom: 1em
  }

  .out .expense-amount {
    color: red;
  }

  .account-title {
    font-size: 1.2em;
    font-weight: bolder;

    .account-remain {
      margin-left: 1em;
      font-size: .8rem;
    }

    .account-remain.has {
      font-weight: bold;
      color: red;
    }
  }

  .date {
    width: 12ch;
  }

  .title {
    width: 20ch;
  }

  .expense-amount {
    width: 13ch;
  }
}

@media all and (max-width: 1024px) {
  .by-categories {
    flex-direction: column;
    gap: 2px;

    .chart {
      min-width: 100px;
      height: auto;
      width: 100%;
    }

    .legend {
      width: 100%;
    }
  }
}

@media all and (max-width: 800px) {
  body {
    //font-size: medium;
    font-size: 24px;
  }
  input,
  button,
  select,
  textarea,
  .icon,
  .list-items-view .item,
  .selectable-element,
  .selectable-element .btn-link {
    font-size: 1em !important;
  }

  .content-wrapper {
    header {
      .totals {
        margin-left: 0;
        flex-direction: column;
        gap: 0;
      }
    }
  }
  .flexed {
    flex-direction: column;
    align-items: flex-start;
  }
  .finished-date .flexed {
    flex-direction: row;
  }
  .filter-form.flexed,
  .filter-form > .flexed {
    flex-direction: column;
    align-items: flex-start;

    .form-actions {
      margin-left: 0;
    }
  }
  .date-filters {
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;

    .selectable-element {
      margin-right: 0;
      margin-bottom: 0;
    }

    .date-mode {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-bottom: 1em;

      input {
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
    }
  }

  .new-expense-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
			"last-expense"
		  "new-expense-form"
			"today-expenses";
  }
}
