.by-categories {
  display: flex;
  gap: 1em;

  .chart {
    min-width: 600px;
    height: 500px;
    width: 100%;
  }

  .legend {
    width: 30%;
  }
}

.category-details {
  ul {
    margin-left: 1em;
  }

  .category-item,
  .category-title {
    display: flex;
  }

  .category-item .amount-wrapper {
    margin-left: auto;
  }
}
