@import 'variables';

.changer-block {
  margin: 5px 0;
  text-align: center;
}

.changer-elements {
  display: inline-flex;
  gap: 1em;
  padding: 5px;
  background-color: white;
  border: 1px solid #ddd;
}

.changer-title {
  text-align: center;
  font-weight: normal;
}

.calendar .changer-title {
  background-color: $bg-light;
  border: 1px solid $calendar-border-color;
}

.changer.prev {
  text-align: right;
}

.changer.next {
  text-align: left;
}

.changer {
  font-size: 1em;

  .btn-sm {
    padding: 0 0.5em;
    border-radius: 0;
  }
}

.calendar-cell:not(.invisible) {
  background-color: #fbfbfb;
  border: 1px solid $calendar-border-color;
  text-align: right;
  height: 10em;
  width: 2em;
  white-space: nowrap;
}

.calendar-cell:not(.empty, .invisible) {
  padding-bottom: 3em;
  position: relative;
}

.calendar-cell.day:not(.empty, .invisible) {
  min-width: 10em;
}

.cell-title {
  text-align: center;
  font-weight: bold;
  background-color: $bg-light;
  border-bottom: 1px dashed $calendar-border-color;
}

table.calendar-expenses {
  margin-top: .5em;
  border: none;
  border-spacing: 0;

  td {
    border: none;
    padding: 0;
  }

  .calendar-expense {
    line-height: 1.2em;
    font-size: .9em;
    cursor: default;

    .expense-title,
    .expense-amount {
      text-align: right;
    }

    .expense-title {
      padding-left: .5em;
    }

    .expense-amount {
      width: 7em;
      padding-right: .5em;
    }

    .expense-title:after {
      content: ':';
    }
  }
}

.calendar-expenses-total {
  padding: .2em .5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .expense-title:after {
    content: ':';
    margin-right: .5em;
  }

  .expense-amount {
    width: 7em;
  }
}

.weekday-name {
  background: white;
  padding: 0.2em 0.5em;
  text-align: center;
}

.day-number {
  text-align: right;
  padding-right: 0.5em;
}

.month-toggler {
  display: inline-block;
  position: relative;
}

.month-title {
  padding: 0;
}

.legend footer {
  border-top: none;
  padding: 0;
}
@media all and (max-width: 1024px) {

  .table-view {
    .week-days {
      display: none;
    }

    .day-number {
      text-align: center;
      padding-right: 0;
    }
  }
}
