@import "variables";

.selectable-list {
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: left;

  li {
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  label {
    cursor: pointer;
    margin: 0;
  }
}

.selectable-element {
  display: flex;
  align-items: flex-start;

  .btn-link {
    padding: 0;
    text-align: left;
  }
}

.select-label {
  margin-right: 0.3em;
}

.selectable-multi .icon-ok {
  color: $gray-light;
}

.selectable-multi .selected .icon-ok {
  color: $ok-color;
}
