@import "variables";
@import "mixins";

form {
  @include base-padding;
  @include form-colors;
}

input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']),
select,
textarea {
  @include small-padding;
  width: 100%;
  height: auto;
  box-shadow: inset 0 0 2px #dadada;
  border: 1px solid #adadad;
  background-color: white;
}

input[type='date'] {
  width: auto !important;
}

input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='date']):focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #89c5ff;
}

input.money {
  text-align: right;
}

label {
  display: block;
  margin-bottom: 2px;
}

fieldset {
  margin: 0;
}

legend {
  font-weight: bolder;
}

.form-group,
fieldset {
  margin-bottom: .5rem;
}

.form-actions {
  margin-top: 1em;
}

.task-title {
  width: 100%;
}

.inline-radios {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.inline-radios input[type='radio'] {
  margin-right: .2rem;
}

table textarea.form-control {
  line-height: .8rem;
  font-size: $font-smaller-size;
}

.form-inline select {
  width: auto;
}

input[type="number"] {
  max-width: 5em;
}

form .actions {
  margin-top: 1em;
}

form .actions > button:not(:last-child) {
  margin-right: .5em;
}

.form-group.required label:after {
  content: "*";
  color: red;
}

.form-group.item {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px;
  @include base-padding;
}

.form-check {
  @include flex-started;
  align-items: center;
}

.input-group,
.input-group-append {
  display: flex;
}

.input-group {
  justify-content: flex-start;
}

.input-group-append {
  justify-content: space-evenly;
  align-items: center;
}

.has-error .alert {
  font-size: $font-smaller-size;
  padding: .3em;
  margin: 0;
  position: absolute;
  z-index: 10;
  opacity: .85;
  white-space: nowrap;
}

.has-error .alert::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #e7c3c3 transparent transparent transparent;
}
