@import "variables";
@import "elements";

.date-filters {
  display: flex;
  gap: 2em;
  align-items: center;
  border-bottom: 1px solid $border-color;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;

  label {
    margin-bottom: 0;
  }

  .selectable-element {
    display: flex;
    align-items: center;
  }

  .date {
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.product-filter {
  width: 350px;
}

.form-group.is-favorite label {
  white-space: nowrap;
}

.journal td.date-header {
  font-size: 0.7em;
  font-weight: bolder;
  color: white;
  background-color: #737373;
  background: linear-gradient(to bottom, #a3a3a3 5%, #636363 100%);
  text-shadow: 0 1px black;

  .btn-link {
    color: white;
  }

  .btn-link:hover,
  .btn-link:active,
  .btn-link:focus {
    text-shadow: 0 1px black;
  }
}

.expenses-table td.expense-quantity {
  position: relative;
  font-size: 0.9em;
}

.expenses-table .expense-quantity,
.expenses-table .expense-amount {
  text-align: right;
}

.change-units-list {
  position: absolute;
  right: 0;
  background-color: white;
  z-index: 2;
  border: 1px solid #ddd;
  box-shadow: 0 0 1px #ddd;
}

.change-units-list li {
  padding: 0 0.3rem;
}

.change-units-list button {
  width: 100%;
  text-align: right;
}

.change-units-list li:hover {
  background-color: #f2f2f2;
}

.expenses-table .expense-note {
  font-size: 0.7em;
  font-style: italic;
  font-family: Verdana, sans-serif;
}

.expenses-table .expense {
  background-color: white;
}

.journal > form,
.journal > form .form-control {
  font-size: 0.9em;
}

.units-form {
  display: flex;
  align-items: flex-end;
}

.units-form > :not(:first-child) {
  margin-left: 1rem;
}

.inputs {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.new-tracking-product {
  margin-bottom: 1em;
}
