@import "mixins";
@import "variables";

body {
  padding-bottom: 1em;
}

.content-wrapper {
  > header {
    grid-area: header;
    display: flex;
    padding: .5em;
    background: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
    box-shadow: 0 1px;

    .totals {
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      color: $red;

      .title:after {
        content: ':';
        margin-right: 0.5ch;
      }

      .totals-item {
        white-space: nowrap;
      }

      .totals-item:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  > aside {
    grid-area: sidebar;
    margin-left: 1em;
    background-color: white;
    box-shadow: 0 0 2px;
    padding: 0.3em;
  }

  > .content {
    grid-area: content;
    margin-right: 1em;
  }

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 270px auto;
  grid-template-areas:
    "header header"
    "sidebar content";
}

@media all and (max-width: 800px) {
  .content-wrapper {
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "content"
    "sidebar";

    > header {
      flex-direction: column;
    }

    > aside,
    > .content {
      margin: 0 10px;
    }
  }
}
