@import 'variables';

.products-manage {
  grid-gap: 5px;
  display: grid;
  grid-auto-flow: column;
  margin: 0 auto;
  width: 100%;

  .product-item {
    cursor: pointer;
  }

  .add-button {
    font-size: .7rem;
  }
}

.fast-filter-form {
  position: sticky;
  z-index: 2;
  top: 2em;
}

.add-category {
  margin-bottom: .5em;
}

.category-title.drag-over,
.category-root-drop.drag-over {
  outline: 2px solid #9cd1ff;
}

.category-item {
  margin-bottom: 0.5rem;
}

.products-list {
  margin-left: 1.5rem;
}

.category-new,
.product-new {
  display: flex;
  justify-content: space-between;
}

.units {
  width: 150px;
}

.units > li {
  display: flex;
  align-items: center;
}

.units > li:hover {
  background-color: white;
}

.units .unit-title {
  cursor: pointer;
  width: 100%;
}

.units .actions {
  width: 1em;
}

.item-label {
  margin-right: 0.2em;
}

.categories-block input.form-control {
  padding: 0.2em 0.3em;
  font-size: 0.9em;
}

.accounts .item {
  display: flex;
  gap: 1em;
  line-height: 1;
}
