@import "variables";
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin form-colors {
  background-color: #fafafa;
  border: 1px solid #cecece;
}
@mixin base-padding {
  padding: .5em;
}
@mixin small-padding {
  padding: .2em;
}
@mixin rect-padding {
  padding: .2em .5em;
}
@mixin rect-strong-padding {
  padding: .5em 1em;
}
@mixin rect-long-padding {
  padding: 0 .5em;
}
@mixin base-margin-bottom {
  margin-bottom: 1em;
}
@mixin flex-centered {
  display: flex;
  justify-content: center;
}
@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
}
@mixin flex-started {
  display: flex;
  justify-content: flex-start;
}
@mixin inline-amount {
  background-color: green;
  color: white;
  text-shadow: 0 1px 0 #004800;
  padding: 0 .3em;
}
