.custom-modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.custom-modal {
	background: $bg-light;
	box-shadow: 2px 2px 20px 1px;
	display: flex;
	flex-direction: column;
	z-index: 2;

	header,
	footer {
		display: flex;
	}
	header {
		justify-content: space-between;
		padding: .2em .5em;
		box-shadow: 0 1px 0 0 black;
		border-bottom: 1px solid white;
		color: white;
		background-color: #737373;
		background: linear-gradient(to bottom, #a3a3a3 5%, #636363 100%);
		text-shadow: 0 1px black;
		label,
		.btn-link {
			color: white;
		}
		.btn-link:hover,
		.btn-link:active,
		.btn-link:focus {
			text-shadow: 0 1px black;
		}
		.inline label {
			font-weight: bolder;
		}
	}
	footer {
		justify-content: flex-end;
		padding: 0.5em;
	}
	footer > :not(:first-child) {
		margin-left: 1rem;
	}
	main {
		position: relative;
		padding: 0.5em;
	}
	.total-row {
		font-weight: normal;
	}
	.expense-product {
		min-width: 300px;
	}
}


.custom-modal-fade-enter,
.custom-modal-fade-leave-active {
	opacity: 0;
}
.custom-modal-fade-enter-active,
.custom-modal-fade-leave-active {
	transition: opacity 0.5s ease;
}
