@import "variables";

table {
  border-collapse: collapse;
  margin-bottom: 0;
  width: 100%;
  border: 1px solid #dee2e6;
}

td,
th {
  padding: .3em .5em;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

table caption {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bolder;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-weight: 400;
}

.table-sm td, .table-sm th {
  padding: .3rem;
}

.table.contractors {
  width: auto;
}

.table th {
  color: white;
  background-color: #737373;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgb(239, 239, 239);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(250, 250, 250);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: white;
}

.table thead th {
  vertical-align: bottom;
  border-bottom-width: 1px;
  font-weight: normal;
}

table .form-control {
  padding: 0.1rem 0.2rem;
}

tr.actions td {
  padding-top: 0.5rem;
}

td.actions,
th.actions {
  white-space: nowrap;
  text-align: center;
}

tr.event {
  background-color: #f3f3f3;
}

tr.odd {
  background-color: #f9f9f9;
}

.table-sm.editable th,
.table-sm.editable td {
  border: none;
  padding: 0.1rem;
}

td .money-warning {
  top: -80%;
}

table .form-control {
  padding: 0.1rem 0.2rem;
}

table .amount-wrapper {
  text-align: right;
}

.table-view {
  display: table;
  border-spacing: 2px;
  width: 100%;

  .table-row-view {
    display: table-row;
  }

  .table-cell-view {
    display: table-cell;
  }
}

@media all and (max-width: 1024px) {
  .table-view {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100% !important;

    .table-row-view {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .table-cell-view {
      display: block;
    }

    .table-cell-view.empty {
      min-height: 5em;
    }

    .table-cell-view:not(.invisible) {

      height: auto !important;
      width: 100% !important;
    }
  }
}
