$tabs-border: 1px solid #888;

.tabs-links {
  display: flex;
  justify-content: flex-start;

  a, .btn-link {
    display: block;
    font-size: 1.3em;
    line-height: 1;
    padding: 0.5rem .8rem;
  }

  > li {
    border: $tabs-border;
    border-radius: 0.5em 0.5em 0 0;
    background: #fafafa;
    border-bottom: none;
  }

  > li:not(:last-child) {
    border-right: none;
  }

  > li.active {
    //position: relative;
    //top: -.2rem;
    //z-index: 1;
    //background-color: #f7f7f7;
    //transform: scale(1, 1.2);
    //border-right: $tabs-border;

    position: relative;
    top: 1px;
    z-index: 1;
    background-color: $body-bg;

    .tab-link,
    .btn-link {
      //transform: scale(1, 0.8);
      color: #004c9d;
    }
  }
}

.tab-content {
  border: $tabs-border;
  padding: 1em .5em .5em .5em;

  .content {
    display: none;
  }

  .active {
    display: block;
  }
}
