<template>
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th>Товар</th>
      <th>Кол-во</th>
      <th>Дата начала</th>
      <th>Дней</th>
      <th>Завершить</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in items" :key="item.id">
      <td>{{ formatter.product(item.expense.product) }}</td>
      <td class="quantity">
        <div class="flexed">
          <input type="number" v-model="item.quantity">
          <button type="button" class="btn-link as-icon" @click="changeQty(item)" title="Сохранить"><span class="icon icon-ok"></span></button>
          <div>({{ item.expense.unit | item }})</div>
        </div>
      </td>
      <td>{{ item.started_date }}</td>
      <td>{{ item.days }}</td>
      <td class="finished-date">
        <div class="flexed">
          <div>
            <input id="date" class="form-control date"
                   :class="errors.has('date') ? 'error' : ''"
                   name="date" type="date"
                   v-model="item.finished_date">
            <div class="invalid-feedback" v-show="errors.has('date')">{{ errors.get('date') }}</div>
          </div>
          <div class="action">
            <button type="button" class="btn-link as-icon" @click="finish(item)" title="Завершить"><span class="icon icon-finish"></span></button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import TrackingApi from '../../api/tracking';
import {filters, msgToUser} from '../../vue_mixins';
import {Formatter} from '../../Formatter';

export default {
  name: 'Current',
  mixins: [
    msgToUser,
    filters,
  ],
  props: {
    initItems: Array,
  },
  data() {
    return {
      formatter: new Formatter(),
      errors: new Map(),
      items: this.buildItems(),
    };
  },
  methods: {
    buildItems() {
      let items = [];
      for (let i in this.initItems) {
        let item = this.initItems[i];
        item.finished_date = new Date().toJSON().slice(0, 10);
        items.push(item);
      }
      return items;
    },
    finish(item) {
      TrackingApi.finish(item.id, item.finished_date)
        .then((response) => {
          if ('success' === response.data.type) {
            let index = this.items.findIndex((this_item) => this_item.id === item.id);
            if (-1 !== index) {
              this.items.splice(index, 1);
            }
          }

          this.processResponse(response);
        });
    },
    changeQty(item) {
      TrackingApi.updateQty(item.id, item.quantity)
        .then((response) => {
          this.processResponse(response);
        });
    },
  },
};
</script>
