<template>
  <div class="journal">
    <table class="table table-sm table-bordered expenses-table">
      <thead>
      <tr>
        <th scope="col">Товар</th>
        <th scope="col" class="expense-quantity">Кол-во</th>
        <th scope="col" class="expense-amount">Сумма</th>
        <th scope="col" class="expense-contractor">Контрагент</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <template v-for="date_expenses in expenses">
        <tr class="expense">
          <td :colspan="columnsCount" class="date-header">{{ date_expenses.date }}</td>
        </tr>
        <template v-for="expense in date_expenses.expenses">
          <tr class="expense">
            <td class="expense-product">{{ formatter.product(expense.product) }}</td>
            <td class="expense-quantity">
              {{ expense.quantity }} {{ expense.unit.title }}
            </td>
            <td class="expense-amount">{{ expense.amount|amount }}</td>
            <td class="expense-contractor">{{ expense.contractor|item }}</td>
            <td class="actions">
              <button class="btn-link as-icon" @click="startTracking(expense)" title="Начать учет срока использования" v-if="!expense.is_tracking">
                <span class="icon icon-start"></span>
              </button>
              <button class="btn-link as-icon" @click="remove(expense)" title="Удалить из списка">
                <span class="icon icon-cancel red"></span>
              </button>
            </td>
          </tr>
          <tr class="expense" v-if="expense.note">
            <td :colspan="columnsCount" class="expense-note">{{ expense.note }}</td>
          </tr>
        </template>
      </template>
      </tbody>
    </table>
    <modal v-if="startTrackingExpense" @closed="startTrackingExpense=null" class="start-tracking">
      <template v-slot:header>Начать учет использования</template>
      <template v-slot:body>
        <start-tracking-form :expense="startTrackingExpense" @tracking-added="onTrackingAdded" ref="startTrackingForm"></start-tracking-form>
      </template>
      <template v-slot:close_label>Отменить</template>
    </modal>
  </div>
</template>

<script>
import TrackingApi from '../../api/tracking';
import {filters, msgToUser} from '../../vue_mixins';
import {Formatter} from '../../Formatter';
import {date_format} from '../../functions';
import {DateExpenses} from '../../DateExpenses';
import StartTrackingForm from '../expense/Journal/StartTrackingForm.vue';
import Modal from '../Modal.vue';


export default {
  mixins: [
    msgToUser,
    filters,
  ],
  components: {
    StartTrackingForm,
    Modal,
  },
  data() {
    return {
      formatter: new Formatter(),
      expenses: this.initExpenses(this.initItems),
      columnsCount: 5,
      startTrackingExpense: null,
    };
  },
  props: {
    initItems: Array,
  },
  methods: {
    initExpenses(items) {
      let result = {};

      for (let item of items) {
        let expense = item.expense;
        expense.is_tracking = Boolean(item.is_tracking);
        let date = expense.date;
        if ('undefined' === typeof result[date]) {
          result[date] = new DateExpenses(date);
        }

        result[date].add(expense);
      }

      return result;
    },
    startTracking(expense) {
      this.startTrackingExpense = expense;
    },
    onTrackingAdded(expense_id) {
      this.startTrackingExpense = null;
      for (let date in this.expenses) {
        this.expenses[date].setTrackingFlag(expense_id);
      }
    },
    remove(expense) {
      TrackingApi.removeExpense(expense.id)
        .then((response) => {
          if ('success' === response.data.type) {
            this.removeExpense(expense);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    removeExpense(expense) {
      let date = date_format(expense.date);
      this.expenses[date].remove(expense);

      if (0 === this.expenses[date].countExpenses()) {
        delete this.expenses[date];
      }

      if (!this.hasExpenses()) {
        this.$emit('became-empty');
      }
    },
    hasExpenses() {
      return Object.values(this.expenses).length > 0;
    },
  },
};
</script>
