<template>
  <div class="alterable-quantity">
    {{ expense.quantity|quantity }} <button type="button" class="btn btn-link" @click="open">{{ expense.unit|item }}</button>
    <ul class="change-units-list" v-show="show">
      <li v-for="(title, id) in units" :key="id">
        <button type="button" class="btn btn-link" @click="changeUnit({id: id, title: title})">{{ title }}</button></li>
    </ul>
  </div>
</template>

<script>

import {filters, msgToUser} from "../vue_mixins";

export default {
  name: "AlterableQuantity",
  mixins: [
    msgToUser,
    filters,
  ],
  data() {
    return {
      show: false,
    };
  },
  props: {
    expense: Object,
    units: Object,
  },
  methods: {
    open() {
      this.show = true;
    },
    changeUnit(unit) {
      this.$emit('change-unit', unit);
      this.show = false;
    },
    handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        this.show = false;
      }
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  }
};
</script>
