<template>
	<div class="autocomplete-wrapper">
		<label v-if="label" v-html="label"></label>
		<input class="form-control" :class="css_class" type="text" placeholder="От 2-х символов."  autocomplete="off"
			ref="input"
			:value="value|item"
			v-bind="$attrs"
			v-on="inputListeners"
			@input="onInput"
			@keydown.down.stop.prevent="onArrowDown"
			@keydown.up.stop.prevent="onArrowUp"
			@keydown.enter.stop.prevent="onEnter"
			@keydown.esc.stop.prevent="onEsc"
			@keydown.tab.stop="onTab"
			@blur="onBlur"
		>
		<ul class="autocomplete-list" v-show="isOpen" tabindex="0">
			<li class="autocomplete-result" v-for="(item, index) in results"
				:key="index" @click="setResult(item)" :class="{ 'is-active': index === selectedIndex }">
				{{ item|item }}
			</li>
		</ul>
	</div>
</template>

<script>
  import axios from 'axios';
  import {autocomplete, filters, msgToUser} from '../vue_mixins';
  import {Item} from '../Item';

  export default {
		inheritAttrs: false,
		mixins: [
			msgToUser,
			autocomplete,
			filters,
		],
		data() {
			return {
				results: [],
				isOpen: false,
				selectedIndex: -1,
				findItemsTimer: null,
				skipBlur: false,
			}
		},
		props: {
			value: new Item(),
			css_class: String,
			queryRoute: String,
			addRoute: String,
			label: String
		},
		computed: {
			inputListeners() {
				return Object.assign({},
					this.$listeners,
					{
						input(event) {

						}
					}
				)
			}
		},
		methods: {
			onEnter() {
				// Это позволяет считать новым значение, если оно часть существующего слова.
				// Например, у нас есть "Товар", теперь если набрать "Тов" и перейти по табу
				// (то есть завершить работу с полем автодополнения),
				// то "Тов" будет считаться названием нового товара.
				this.isOpen = false;
				this.selectedIndex = -1;

				if (this.value && this.value.title.length > 1) {
          this.addNewItem().catch((error) => {
            // Ошибка о добавлении
            this.processErrorsInResponse(JSON.parse(error.message));
          });
				}
			},
      onTab(event) {
        if (-1 !== this.selectedIndex) {
          this.setResult(this.results[this.selectedIndex]);
        }
        else if (!this.value.id) {
          this.isOpen = false;
          // Мы добавляем что-то (пытаемся).
					// Обработка потери фокуса (onBlur, в части, где по этому поводу что-то делается) должна быть исключена.
          this.skipBlur = true;

          this.addNewItem().catch((error) => {
            this.processErrorsInResponse(JSON.parse(error.message));
            // Не удалось добавить, значит - остаемся в поле.
            event.preventDefault();
          });
        }
      },
			onBlur(event) {
				// Клик мышкой для выбора из списка найденных тоже вызывает потерю фокуса.
				// А нам, естественно, надо сделать выбор, а не запускать добавление.
				if (this.$el.contains(event.relatedTarget)) {
					return;
				}

				this.isOpen = false;
				// Таймер мог быть уже запущен, но раз мы ушли из поля ввода, то поиск уже не нужен.
				this.resetFindTimeout(this.findItemsTimer);

				// По сути здесь надо пропустить $emit('clear') только,
				// но не страшно, если пропустим всобще всю оставщуюся часть - так проще.
        if (this.skipBlur) {
          this.skipBlur = false;
          return;
        }

				if (-1 !== this.selectedIndex) {
					this.setResult(this.results[this.selectedIndex]);
					this.selectedIndex = -1;
					return;
				}
				else if (!this.value || !this.value.id) {
					this.$emit('clear');
				}
				this.results = [];
			},
			onInput(event) {
				this.resetFindTimeout(this.findItemsTimer);

				let item = this.buildItemFromInput(event.target.value);

				this.$emit('input', item);

				if (item.title.length > 1) {
					this.startFindItemsTimeout(item);
				}
				else {
					this.clearResult();
				}
			},
			/**
			 * @param {string} input_value
			 *
			 * @returns {Item} product
			 */
			buildItemFromInput(input_value) {
				let item = new Item();
				if (!input_value.length) {
					return item;
				}
				item.title = input_value;

				return item;
			},
			/**
			 * @param {Item} item
			 */
			startFindItemsTimeout(item) {
				this.resetFindTimeout(this.findItemsTimer);
				this.findItemsTimer = setTimeout(this.findItems.bind(this), 300, item);
			},
			/**
			 * @param {Item} item
			 */
			findItems(item) {
				// @todo: для разнообразия можно добавить проверку на то,
				// что набираемая строка ранее не была добавлена.
				// Например, набираем "мо", "мол", "моло" - если "мо" не было найдено,
				// то не имеет смысл запускать поиск для "мол" и "моло".
				this.results = [];
				this.isOpen = true;

				axios.get(this.queryRoute, {
					params: {like: item.title}
				}).then((response) => {
					if ('error' === response.data.type) {
						this.processResponse(response);
						this.isOpen = false;
						return;
					}

					this.results = response.data.map(resultItem => new Item(resultItem));

					if (1 === this.results.length) {
						this.selectedIndex = 0;
					}
					else {
						// Если есть полное совпадение, то его сразу и выделим.
						let lowerCased = this.results.map(item => item.title.toLowerCase());
						this.selectedIndex = lowerCased.indexOf(item.title.toLowerCase());
					}
				}).catch((response) => {
					this.processCatch(response);
				});
			},
			/**
			 * @param {Item} item
			 */
			setResult(item) {
        this.isOpen = false;
				this.$emit('input', item);
			},
			addNewItem() {
			  return axios.post(this.addRoute, {
          title: this.value.title
        }).then((response) => {
          let type = response.data.type;
          if ('success' === type || 'exists' === type) {
            let item = new Item(response.data.item);
            this.results = [item];
            this.selectedIndex = 0;
            this.setResult(item);
          }

          switch (type) {
            case 'success':
              this.processResponse(response);
              break;

            case 'error':
              throw new Error(JSON.stringify(response));

            default:
              break;
          }
        });
			},
		}
	}
</script>
