<template>
  <div class="autocomplete-wrapper">
    <label v-if="label" v-html="label"></label>
    <input class="form-control" :class="inputClass || ''" type="text" placeholder="От 2-х символов." autocomplete="off"
           :value="formatter.contractor(value)" ref="input"
           v-bind="$attrs"
           v-on="inputListeners"
           @input="onInput"
           @keydown.down.stop.prevent="onArrowDown"
           @keydown.up.stop.prevent="onArrowUp"
           @keydown.enter.stop.prevent="onEnter"
           @keydown.esc.stop.prevent="onEsc"
    >
    <ul class="autocomplete-list" v-show="isOpen" tabindex="0">
      <li class="autocomplete-result"
          v-for="(item, index) in results" :key="index"
          @click="setResult(item)"
          :class="{ 'is-active': index === selectedIndex }"
          v-html="formatter.foundContractorFormatted(item, value)">
      </li>
    </ul>
  </div>
</template>

<script>
import ContractorApi from '../api/contractor';
import {autocomplete, msgToUser} from '../vue_mixins';
import {Formatter} from '../Formatter';
import {Item} from '../Item';

export default {
  inheritAttrs: false,
  mixins: [
    msgToUser,
    autocomplete,
  ],
  data() {
    return {
      results: [],
      isOpen: false,
      selectedIndex: -1,
      newContractor: null,
      formatter: new Formatter(),
      lastSearchedStr: '',
    };
  },
  props: {
    value: new Item(),
    inputClass: String,
    label: String,
    allowAddContractor: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    inputListeners() {
      return Object.assign({},
        this.$listeners,
        {
          input(event) {

          },
        },
      );
    },
  },
  methods: {
    onEnter(event) {
      if (this.isOpen) {
        if (-1 !== this.selectedIndex) {
          this.setResult(this.results[this.selectedIndex]);
          return;
        }
        else {
          if (this.allowAddContractor && event.target.value.length > 1) {
            this.isOpen = false;
            this.newContractor = this.buildContractorFromInput(event.target.value);
            this.addNewItem().catch((error) => {
              this.processErrorsInResponse(JSON.parse(error.message));
              // Не удалось добавить, значит - остаемся в поле.
              event.preventDefault();
            });
          }
        }
      }
      else {
        if (this.allowAddContractor && event.target.value.length > 1) {
          this.newContractor = this.buildContractorFromInput(event.target.value);
          this.addNewItem().catch((error) => {
            this.processErrorsInResponse(JSON.parse(error.message));
            // Не удалось добавить, значит - остаемся в поле.
            event.preventDefault();
          });
        }
      }
    },
    onBlur(event) {
      console.info('ContractorAutocomplete::onBlur');
      // Клик мышкой для выбора из списка найденных тоже вызывает потерю фокуса.
      // А нам, естественно, надо сделать выбор, а не запускать добавление.
      if (this.isOpen && this.$el.contains(event.relatedTarget)) {
        console.info('ContractorAutocomplete::onBlur return (this.$el.contains(event.relatedTarget))');
        return;
      }

      this.isOpen = false;

      // Таймер мог быть уже запущен, но раз мы ушли из поля ввода, то поиск уже не нужен.
      this.resetFindTimeout(window.findContractorsTimer);

      // По сути здесь надо пропустить $emit('clear') только,
      // но не страшно, если пропустим всобще всю оставщуюся часть - так проще.
      if (this.skipBlur) {
        this.skipBlur = false;
        console.info('ContractorAutocomplete::onBlur return (this.skipBlur)');
        return;
      }

      if (-1 !== this.selectedIndex) {
        this.setResult(this.results[this.selectedIndex]);
        this.selectedIndex = -1;
        return;
      }
      else if (this.value && !this.value.id && !this.newContractor) {
        if (this.allowAddContractor && event.target.value.length > 1) {
          this.newContractor = this.value;
        }
        else {
          this.$emit('clear');
        }
      }
      this.lastSearchedStr = '';
      this.results = [];
    },
    onInput(event) {
      this.resetFindTimeout(window.findContractorsTimer);


      let contractor = this.buildContractorFromInput(event.target.value);

      this.$emit('input', contractor);

      if (event.target.value.length < 2) {
        this.lastSearchedStr = '';
        this.clearResult();
        return;
      }

      if (event.target.value) {
        this.findContractors(contractor);
        return;
      }

      if (contractor.title.length > 1) {
        this.startFindContractorsTimeout(contractor);
      }
      else {
        this.lastSearchedStr = '';
        this.clearResult();
      }
    },
    /**
     * @param {string} input_value
     *
     * @returns {Item} contractor
     */
    buildContractorFromInput(input_value) {
      let contractor = new Item();
      if (!input_value.length) {
        return contractor;
      }
      contractor.title = input_value;

      return contractor;
    },
    /**
     * @param {Item} contractor
     */
    startFindContractorsTimeout(contractor) {
      this.resetFindTimeout(window.findContractorsTimer);
      window.findContractorsTimer = setTimeout(this.findContractors.bind(this), 300, contractor);
    },
    /**
     * @param {Item} contractor
     */
    findContractors(contractor) {
      // @todo: для разнообразия можно добавить проверку на то,
      // что набираемая строка ранее не была добавлена.
      // Например, набираем "мо", "мол", "моло" - если "мо" не было найдено,
      // то не имеет смысл запускать поиск для "мол" и "моло".
      if (this.lastSearchedStr.length && !this.results.length && contractor.title.startsWith(this.lastSearchedStr)) {
        return;
      }
      this.results = [];
      this.isOpen = true;

      this.lastSearchedStr = contractor.title;

      ContractorApi.find(contractor.title)
        .then((response) => {
          if ('error' === response.data.type) {
            this.processResponse(response);
            this.isOpen = false;
            return;
          }

          this.results = response.data.map(resultItem => new Item(resultItem));

          if (1 === this.results.length) {
            this.selectedIndex = 0;
          }
          else {
            // Если есть полное совпадение, то его сразу и выделим.
            let lowerCased = this.results.map(item => item.title.toLowerCase());
            this.selectedIndex = lowerCased.indexOf(contractor.title.toLowerCase());
          }
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    addNewItem() {
      return ContractorApi.add(this.value.title).then((response) => {
        let type = response.data.type;
        if ('success' === type || 'exists' === type) {
          let item = new Item(response.data.item);
          this.results = [item];
          this.selectedIndex = 0;
          this.setResult(item);
        }

        switch (type) {
          case 'success':
            this.processResponse(response);
            break;

          case 'error':
            throw new Error(JSON.stringify(response));

          default:
            break;
        }
      });
    },
    /**
     * @param {Item} contractor
     */
    setResult(contractor) {
      this.isOpen = false;
      this.$emit('input', contractor);
    },
    focus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
  },
};
</script>
