<template>
	<section class="list-items-view block">
		<header>
			<slot name="title"></slot>
		</header>
		<article>
			<div class="item" v-for="item of items">
				<div class="label">{{item.title}}</div><div class="amount">{{item.amount|amount}}</div>
			</div>
		</article>
		<footer>
			<div class="item total">
				<div class="label">Итого</div><div class="amount">{{total|amount}}</div>
			</div>
		</footer>
	</section>
</template>

<script>
	import {filters} from "../vue_mixins";

  export default {
    mixins: [
      filters,
		],
		props: {
			items: Array,
		},
		computed: {
			total() {
				let total = 0.0;
				for (let item of this.items) {
					total += parseFloat(item.amount ? item.amount : 0.0);
				}

				return total;
			},
		}
	}
</script>
