<template>
	<div class="selectable-element selectable-multi" v-trim-whitespace>
		<label class="select-label" v-if="!!$slots.default"><slot></slot></label>
		<div>
			<input type="hidden" :name="name"
				v-for="(item, key) in items"
				v-if="name.length && item.selected" :value="key"/>
			<button type="button" class="btn-link selected-items" @click="showSelectList = !showSelectList">
				{{selectedItemsHtml()}}
			</button>
			<ul class="selectable-list" v-show="showSelectList" ref="items_list">
				<li :class="{ 'selected': item.selected }" @click="toggle(key)" v-for="(item, key) in items" :key="key">
					<span class="icon icon-ok"></span>
					<label>{{item.title}}</label>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		inheritAttrs: false,
		props: {
			value: Array,
      initialItems: Object,
      anyItem: {
        type: Object,
        default: function () {
          return {any: 'Любой'};
        },
      },
			oneValue: {
			  type: Boolean,
				default: false,
			},
      name: {
        type: String,
        default: '',
      },
		},
    data() {
      return {
        showSelectList: false,
        anyKey: this.anyItem ? Object.keys(this.anyItem)[0] : '',
        anyLabel: this.anyItem ? Object.values(this.anyItem)[0] : '',
        items: this.initItems(),
      };
    },
    computed: {
      selected() {
        return Object.values(this.items).filter(item => item.selected).map(item => item.key);
      }
    },
		methods: {
			initItems() {

			  // В строку, для includes.
        let selectedItems = this.value.map(item => item.toString());

        let items = {};

        if (this.anyItem) {
          let anyKey = Object.keys(this.anyItem)[0];
          let anyLabel = Object.values(this.anyItem)[0];
          let anyKeyIndex = selectedItems.indexOf(this.anyKey);
          items[anyKey] = {
            key: anyKey,
            title: anyLabel,
            selected: 0 === selectedItems.length || selectedItems.includes(anyKey),
          };

          if (-1 !== anyKeyIndex) {
            delete selectedItems[anyKeyIndex];
          }
				}

				for (let key in this.initialItems) {
					items[key] = {
            key: key,
						title: this.initialItems[key],
						selected: selectedItems.includes(key),
					};
				}

				return items;
			},
			selectedItemsHtml() {
				let selected = [];
				for (let i in this.items) {
					if (this.items[i].selected) {
						selected.push(this.items[i].title);
					}
				}
				return selected.join(', ');
			},
			toggle(key) {
			  // Если это переключатель (только одно значение может быть выбрано),
				// то сбрасываем все остальные.
				// И если выбрано "Любое" - тоже остальные сбрасываем.
			  if (this.oneValue || this.anyKey === key) {
          for (let item_key in this.items) {
            this.items[item_key].selected = item_key === key;
          }
          this.$emit('input', this.selected);
					return;
				}

				this.items[key].selected = !this.items[key].selected;

        if (!this.anyItem) {
          this.$emit('input', this.selected);
          return;
        }

        // Если не выбрано ничего, то должно быть выбрано "Любое".
        let hasSelected = Object.values(this.items).some(item => item.selected && item.title !== this.anyLabel);
				this.items[this.anyKey].selected = !hasSelected;
        this.$emit('input', this.selected);
			},
			handleClickOutside(event) {
				if (!this.$el.contains(event.target)
					&& !this.$refs.items_list.contains(event.target)) {
					this.showSelectList = false;
				}
			}
		},
		mounted() {
			document.addEventListener('click', this.handleClickOutside);
		},
		destroyed() {
			document.removeEventListener('click', this.handleClickOutside);
		}
	}
</script>
