<template>
  <div class="form-group">
    <slot name="label"></slot>
    <input class="form-control" type="text" placeholder="От 2-х символов."
           autocomplete="off"
           ref="input"
           v-model="search"
           v-bind="$attrs"
           @keyup="onKeyUp"
           @keydown.down="onArrowDown"
           @keydown.up="onArrowUp"
           @keydown.enter="onEnter"
           @keydown.esc="onEsc"
           @keydown.tab="onTab"
           @blur="onEnter"
    >
    <ul class="autocomplete-list" v-show="isOpen">
      <li class="autocomplete-result" v-for="(result, index) in results"
          :key="index" @click="setResult(result)" :class="{ 'is-active': index === selectedIndex }">
        <span v-if="result.parent">{{ result.parent.title }} / </span>{{ result.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
import {msgToUser, autocomplete} from '../vue_mixins';

export default {
  inheritAttrs: false,
  mixins: [
    msgToUser,
    autocomplete,
  ],
  data() {
    return {
      search: this.value,
      results: [],
      isLoading: false,
      isOpen: false,
      selectedIndex: -1,
    };
  },
  props: {
    value: {
      type: String,
      default: '',
    },
    queryRoute: String,
  },
  methods: {
    onEsc(event) {
      if (!this.isLoading) {
        this.isOpen = false;
      }
    },
    onKeyUp(event) {

      let to_skip = ['Enter', 'ArrowDown', 'ArrowUp', 'Tab', 'Delete'];
      if (-1 !== to_skip.indexOf(event.key)) {
        return;
      }

      // @todo: для разнообразия можно добавить проверку на то,
      // что набираемая строка ранее не была добавлена.
      // Например, набираем "мо", "мол", "моло" - если "мо" не было найдено,
      // то не имеет смысл запускать поиск для "мол" и "моло".
      this.results = [];

      if (this.search.length > 1) {
        this.isLoading = true;
        this.isOpen = true;

        axios.get(this.queryRoute, {
          params: {like: this.search},
        }).then((response) => {
          this.results = response.data;
          if (1 === this.results.length) {
            this.selectedIndex = 0;
          }
          else {
            this.selectedIndex = -1;
          }
        }).catch((response) => {
          this.processCatch(response);
        }).finally(() => {
          this.isLoading = false;
        });
      }
    },
    setResult(result) {
      this.isOpen = false;
      this.search = result.title;
      if (undefined !== typeof result.parent) {
        this.search = result.parent.title + ' / ' + result.title;
      }
      this.$emit('input', result);
    },
    onEnter() {
      if (-1 !== this.selectedIndex) {
        this.setResult(this.results[this.selectedIndex]);
        this.selectedIndex = -1;
      }
    },
    focus() {
      this.$refs.input.focus();
    },
  },
};
</script>
