<template>
  <div class="totals" v-trim-whitespace>
    <div class="totals-item" v-for="total in totals">
      <span class="title">{{ total.title }}</span>
      <span class="amount">{{ total.amount|amount }}</span>
    </div>
  </div>
</template>

<script>
import {EventBus} from '../event_bus';
import {filters} from '../vue_mixins';

export default {
  name: 'Totals',
  mixins: [
    filters,
  ],
  data() {
    return {
      totals: this.initTotals,
    };
  },
  props: {
    initTotals: Array,
  },
  methods: {
    onTotalsUpdated(totals) {
      this.totals = totals;
    },
  },
  created: function () {
    EventBus.$on('totals-updated', this.onTotalsUpdated);
  },
};
</script>
