<template>
  <div class="time">
    <div class="tabs">
      <ul class="tabs-links">
        <li :class="'category' === mode ? 'active' : ''">
          <button type="button" class="btn btn-link" @click="mode = 'category'">Для категории</button>
        </li>
        <li :class="'product' === mode ? 'active' : ''">
          <button type="button" class="btn btn-link" @click="mode = 'product'">Для товара</button>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <form class="filter-form flexed">
        <fieldset>
          <legend>Группировать</legend>
          <label v-for="(label, mode) in groupByOptions">
            <input type="radio" :value="mode" v-model="groupBy"/>{{ label }}</label>
        </fieldset>
        <fieldset v-if="'category' === mode">
          <legend>Итоги</legend>
          <label v-for="(label, mode) in sumByOptions">
            <input type="radio" :value="mode" v-model="sumBy"/>{{ label }}</label>
        </fieldset>
        <div class="form-group" v-if="'group_by_months' === groupBy">
          <multi-select
            :initial-items="years"
            v-model="selectedYears"
            :any-item="anyItem"
          >Год:
          </multi-select>
        </div>
        <div class="form-group" v-if="'category' === mode">
          <label>Категория</label>
          <select id="category" v-model="selectedCategory">
            <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
          </select>
        </div>
        <product-autocomplete v-if="'product' === mode"
                              v-model="product"
                              :allow-add-product="false"
                              class="form-group product-filter"
                              label="Товар">
        </product-autocomplete>
        <div class="form-group form-actions">
          <button type="button" class="btn btn-primary" @click="apply" :disabled="!canBeApplied()">Применить</button>
        </div>
      </form>
      <div :id="id" class="chart"></div>
    </div>
  </div>
</template>

<script>
import AnalyticsApi from '../../../api/analytics';
import {money_format} from '../../../functions';
import ApexCharts from 'apexcharts';
import {msgToUser} from '../../../vue_mixins';
import MultiSelect from '../../MultiSelect.vue';
import ProductAutocomplete from '../../expense/ProductAutocomplete.vue';

export default {
  mixins: [
    msgToUser,
  ],
  components: {
    MultiSelect,
    ProductAutocomplete,
  },
  data() {
    return {
      mode: 'category',
      selectedCategory: null,
      selectedYears: [],
      groupBy: Object.keys(this.groupByOptions)[0],
      sumBy: Object.keys(this.sumByOptions)[0],
      product: null,
      data: null,
      id: 'by-time-chart',
      chart: null,
      title: 'Итоги по времени',
    };
  },
  props: {
    categories: Array,
    years: Object,
    groupByOptions: Object,
    sumByOptions: Object,
    anyItem: {
      type: Object,
      default: function () {
        return {any: 'Любой'};
      },
    },
  },
  methods: {
    dataOptions() {
      return {
        chart: {
          type: 'bar',
          width: '90%',
          height: '600px',
          fontFamily: '"OpenSans Regular", "Verdana", sans-serif',
        },
        title: {
          text: this.title,
          style: {
            fontSize: '20px',
            colors: ['#304758'],
          },
        },
        grid: {
          padding: {
            top: 50,
            right: 20,
            bottom: 0,
            left: 0,
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '90%',
            dataLabels: {
              orientation: 'vertical',
              position: 'top',
            },
          },
        },
        series: this.getChartSeries(),
        dataLabels: {
          enabled: true,
          offsetY: 10,
          formatter: function (val) {
            return val ? money_format(val) : '';
          },
          style: {
            colors: ['#304758'],
          },
        },
        xaxis: {
          type: 'category',
          categories: this.getChartCategories(),
          labels: {
            rotate: -45,
          },
          axisBorder: {
            show: true,
            color: '#78909C',
            height: 1,
            width: '10px',
            offsetX: 0,
            offsetY: 0,
          },
          axisTicks: {
            show: true,
            borderType: 'solid',
            color: '#78909C',
            height: 10,
            offsetX: 0,
            offsetY: 0,
          },
        },
        yaxis: {
          labels: {
            formatter: function (val) {
              return val ? money_format(val) : '';
            },
          },
        },
      };
    },
    getChartCategories() {
      return this.data.categories;
    },
    getChartSeries() {
      if (Array.isArray(this.data.series)) {
        return [{data: this.data.series}];
      }

      let series = [];
      for (let name in this.data.series) {
        series.push({
          name: name,
          data: this.data.series[name],
        });
      }
      return series;
    },
    canBeApplied() {
      switch (this.mode) {
        case 'category':
          return null !== this.selectedCategory;

        case 'product':
          return this.product && this.product.id;

        default:
          return false;
      }
    },
    apply() {
      let params = {
        group_by: this.groupBy,
        sum_by: this.sumBy,
        years: this.selectedYears,
      };

      switch (this.mode) {
        case 'category':
          params['category_id'] = this.selectedCategory;
          let selectedCategory = this.categories.find(e => e.id === this.selectedCategory);
          this.title = 'Итоги по времени для категории "' + selectedCategory.title + '"';
          break;

        case 'product':
          params['product_id'] = this.product.id;
          this.title = 'Итоги по времени для товара "' + this.product.title + '"';
          break;

        default:
          break;
      }
      if (this.product && this.product.id) {
        params['product_id'] = this.product.id;
      }
      AnalyticsApi.getByTime(params)
        .then((response) => {
          if ('error' === response.data.type) {
            this.processErrorsInResponse(response);
            return;
          }

          this.data = response.data.data;
          if (null !== this.chart) {
            this.chart.destroy();
          }
          this.chart = new ApexCharts(document.getElementById(this.id), this.dataOptions());
          this.chart.render();
        }).catch((response) => {
        this.processCatch(response);
      });
    },
  },
};
</script>
