<template>
  <section class="accounts">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Контрагент</th>
        <th scope="col" class="actions">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(account, index) in accounts" :key="index">
        <td>
          <div v-if="!account.isEditingTitle" class="flexed">
            <div>{{ account.title }}</div>
            <button type="button" class="btn-link as-icon" @click="editOn(account, index, 'title')" title="Редактировать">
              <span class="icon icon-edit"></span>
            </button>
          </div>
          <div v-else>
            <div class="flexed">
              <input class="form-control" ref="input"
                     :class="errors.hasFieldErrors(index, 'title') ? 'error' : ''"
                     type="text"
                     @keyup.enter="onEnterTitle(account, index)"
                     @keyup.esc="onEsc(account)"
                     v-model="account.title">
              <button class="btn-link as-icon" @click="onEnterTitle(account, index)" title="Завершить редактирование">
                <span class="icon icon-ok"></span>
              </button>
            </div>
            <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'title')">{{ errors.fieldError(index, 'title') }}</div>
          </div>
        </td>
        <td v-if="!account.isEditingContractor">
          <div class="flexed">
            <template v-if="account.contractor">
              <div>
                {{ account.contractor.title }}
              </div>
              <button type="button" class="btn-link as-icon" @click="editOn(account, index, 'contractor')" title="Редактировать">
                <span class="icon icon-edit"></span>
              </button>
              <button type="button" class="btn-link as-icon" @click="clearContractor(account, index)" title="Отвязать контрагента от счета." v-if="account.contractor">
                <span class="icon icon-unlink"></span>
              </button>
            </template>
            <button type="button" class="btn-link as-icon" @click="editOn(account, index, 'contractor')" title="Привязать контрагента к счету" v-else>
              <span class="icon icon-link"></span>
            </button>
          </div>
        </td>
        <td v-else>
          <div class="flexed">
            <contractor-autocomplete
              id="contractor"
              name="contractor"
              ref="input"
              v-model="account.contractor"
              @clear="onEsc(account)"
            >
            </contractor-autocomplete>
            <button class="btn-link as-icon" @click="updateContractor(account, index)" title="Завершить редактирование">
              <span class="icon icon-ok"></span>
            </button>
          </div>
          <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'contractor')">{{ errors.fieldError(index, 'contractor') }}</div>
        </td>
        <td class="actions">
          <button v-if="!account.ops_count" type="button" class="btn-link as-icon" @click="remove(account, index)" title="Удалить">
            <span class="icon icon-delete red"></span>
          </button>
          <small class="warning" v-else>
            Удаление невозможно: есть операции
          </small>
        </td>
      </tr>
      </tbody>
    </table>
    <footer class="actions">
      <button class="btn-sm btn-primary" type="button" @click="runNewAccount">Новый счет</button>
    </footer>
    <modal v-if="newAccount" @closed="onAddAccountCanceled">
      <template v-slot:header>Новый счет</template>
      <template v-slot:body>
        <account-form ref="accountForm" @add="onAddAccount" :account="newAccount"></account-form>
      </template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" type="button" @click="addAccount">Добавить</button>
      </template>
    </modal>
  </section>
</template>

<script>
import AccountApi from '../../api/account';
import {msgToUser} from '../../vue_mixins';
import {Errors} from '../../Errors';
import ContractorAutocomplete from '../ContractorAutocomplete.vue';
import {routeAdapter} from '../../vue_mixins';
import AccountForm from '../account/AccountForm.vue';
import Modal from '../Modal.vue';
import {Item} from '../../Item';

export default {
  mixins: [
    msgToUser,
    routeAdapter,
  ],
  components: {
    ContractorAutocomplete,
    AccountForm,
    Modal,
  },
  data() {
    return {
      accounts: this._initAccounts(),
      newAccount: null,
      errors: new Errors(),
    };
  },
  props: {
    initAccounts: Array,
  },
  methods: {
    _initAccounts() {
      return this.initAccounts.map(function (account) {
        account.isEditingTitle = false;
        account.isEditingContractor = false;
        account.originalTitle = account.title;
        account.originalContractor = account.contractor;
        return account;
      });
    },
    editOn(account, index, field) {
      switch (field) {
        case 'title':
          account.isEditingTitle = true;
          break;

        case 'contractor':
          account.isEditingContractor = true;
          break;

        default:
          break;
      }

      this.$nextTick(() => {
        setTimeout(() => {
          this.$refs.input[0].focus();
        }, 200);

      });
    },
    onEnterTitle(account, index) {
      this.updateTitle(account, index);
    },
    onEsc(account) {
      account.isEditingTitle = false;
      account.isEditingContractor = false;
      account.title = account.originalTitle;
      account.contractor = account.originalContractor;
      this.errors.reset();
    },
    updateTitle(account, index) {
      this.validateTitle(account, index);
      if (this.errors.hasFieldErrors(index, 'title')) {
        this.showError(this.errors.fieldError(index, 'title'));
        return;
      }

      if (account.title !== account.originalTitle) {
        AccountApi.rename(account).then((response) => {
          if ('success' === response.data.type) {
            account.isEditingTitle = false;
            account.originalTitle = account.title;
          }

          this.processResponse(response);
        }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        account.isEditingTitle = false;
      }
    },
    updateContractor(account, index) {
      if (account.contractor !== account.originalContractor) {
        AccountApi.setContractorId(account).then((response) => {
          if ('success' === response.data.type) {
            account.isEditingContractor = false;
            account.originalContractor = account.contractor;
          }

          this.processResponse(response);
        }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        account.isEditingContractor = false;
      }
    },
    clearContractor(account, index) {
      AccountApi.clearContractorId(account).then((response) => {
        if ('success' === response.data.type) {
          account.isEditingContractor = false;
          account.contractor = null;
          account.originalContractor = null;
        }

        this.processResponse(response);
      }).catch((response) => {
        this.processCatch(response);
      });
    },
    remove(account, index) {
      if (!account.id) {
        return;
      }

      AccountApi.remove(account.id)
        .then((response) => {
          if ('success' === response.data.type) {
            this.accounts.splice(index, 1);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    runNewAccount() {
      this.newAccount = {
        id: null,
        title: '',
        contractor: new Item(),
      };
    },
    onAddAccount(account) {
      AccountApi.add(account)
        .then((response) => {
          if ('error' === response.data.type) {
            this.processResponse(response);
            return;
          }

          this.accounts.push(response.data.item);
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      }).finally(() => {
        this.newAccount = null;
      });
      // this.setFocus();
    },
    addAccount() {
      this.$refs.accountForm.add();
    },
    onAddAccountCanceled() {
      this.newAccount = null;
    },
    validateTitle(account, index) {
      this.errors.resetFieldErrors(index, 'title');

      if (!account.title.length) {
        this.errors.addError(index, 'title', 'Название обязательно.');
      }
    },
  },
};
</script>
