<template>
  <div class="categories-block" v-trim-whitespace>
    <h2>Категории</h2>
    <form class="live-search-form">
      <div class="form-group">
        <label>Поиск по товарам и категориям</label>
        <input class="form-control live-search" type="text" placeholder="От 3-х символов." autocomplete="off" v-model="search" @keyup="onSearchKeyUp">
      </div>
    </form>
    <div class="categories">
      <div class="categories-root flexed">
        <button v-if="!newCategory" class="btn-link as-icon" @click="runNewCategory" title="Добавить категорию"><span class="icon icon-folder_add"></span></button>
        <drop class="category-root-drop"
              :class="{'drag-over': isDragover}"
              @drop="handleRootDrop"
              @dragover="handleRootDragover"
              @dragleave="handleRootDragleave">-ROOT-
        </drop>
      </div>

      <div class="add-category">
        <category-new
          ref="category_new"
          v-if="newCategory"
          :category="newCategory"
          @category-adding-canceled="onCategoryAddingCanceled"
        ></category-new>
      </div>
      <ul class="category-children">
        <li v-for="(category, id) in categories" :key="id">
          <category
            :init-category="category"
            :search="search"
            :min-search-len="minSearchLen"
            @update="update"
            @category-removed="onCategoryRemoved"
            v-show="category.isVisible"
            :ref="`category_${id}`"
          ></category>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import CategoryApi from '../../api/category';
import {EventBus} from '../../event_bus';
import Category from './Category';
import CategoryNew from './CategoryNew';
import Product from './Product';
import ProductNew from './ProductNew';
import {msgToUser} from '../../vue_mixins';

export default {
  name: 'Categories',
  inheritAttrs: false,
  components: {
    Category,
    CategoryNew,
    Product,
    ProductNew,
  },
  mixins: [msgToUser],
  data() {
    return {
      categories: this.initCategories(),
      newCategory: null,
      search: '',
      isDragover: false,
    };
  },
  props: {
    initialCategories: Object,
    minSearchLen: {
      type: Number,
      default: 3,
    },
  },
  methods: {
    initCategories() {
      for (let category_id in this.initialCategories) {
        this._initCategory(this.initialCategories[category_id]);
      }

      return this.initialCategories;
    },
    _initCategory(category) {
      category.isVisible = true;
      for (let i in category.products) {
        category.products[i].isVisible = true;
      }
      for (let child_id in category.children) {
        this._initCategory(category.children[child_id]);
      }
    },
    handleRootDragover(data, event) {
      this.isDragover = data.type === 'category' && null !== data.item.parent_id;
    },
    handleRootDragleave(data) {
      this.isDragover = false;
    },
    handleRootDrop(data) {
      this.isDragover = false;
      if ('category' !== data.type || null === data.item.parent_id) {
        return;
      }

      let category = data.item;
      CategoryApi.moveToCategory(category.id)
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('category-moved', category, category.parent_id, null);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    update() {
      this.categories = Object.assign({}, this.categories);
    },
    _buildNewCategory() {
      return {
        id: '',
        title: '',
        parent_id: null,
        isVisible: true,
        children: {},
        products: {},
      };
    },
    runNewCategory() {
      this.newCategory = this._buildNewCategory();
    },
    onCategoryAdded(category) {
      if (null !== category.parent_id) {
        return;
      }
      category.isVisible = true;
      // Поскольку кнопка добавления новой категории над списком,
      // то карточку добавленной категории удобно будет получить там же под кнопкой.
      // А поскольку список категорий у нас объект, новый элемент должен иметь ключ.
      let item = {};
      item[category.id] = category;
      this.categories = Object.assign(item, this.categories);

      this.newCategory = null;
    },
    onCategoryAddingCanceled() {
      this.newCategory = null;
    },
    onCategoryMoved(category, from_category_id, to_category_id) {
      if (null !== from_category_id && null !== to_category_id) {
        return;
      }

      if (null === from_category_id) {
        delete this.categories[category.id];
        this.update();
      }
      else if (null === to_category_id) {
        category.parent_id = null;
        this.categories[category.id] = category;
        this.update();
      }
    },
    onCategoryRemoved(category) {
      if (null !== category.parent_id) {
        return;
      }
      delete this.categories[category.id];
      this.update();
    },
    onSearchKeyUp(event) {
      let to_skip = ['Enter', 'ArrowDown', 'ArrowUp', 'Tab'];
      if (-1 !== to_skip.indexOf(event.key)) {
        return;
      }

      this.find();
    },
    find() {
      for (let category_id in this.categories) {
        let ref = `category_${category_id}`;
        if (this.search.length >= this.minSearchLen) {
          if (this.$refs[ref][0].find(this.search.toLowerCase())) {
            this.categories[category_id].isVisible = true;
          }
        }
        else {
          this.$refs[ref][0].resetSearch(this.search);
          this.categories[category_id].isVisible = true;
        }
      }

      this.update();
    },
    open() {
      // Просто заглушка для полиморфности - когда категория призывает родителя
      // открыться, то она не хочет знать можно это сделать или нет.
    },
  },
  created: function () {
    EventBus.$on('category-added', this.onCategoryAdded);
    EventBus.$on('category-removed', this.onCategoryRemoved);
    EventBus.$on('category-moved', this.onCategoryMoved);
  },
};
</script>
