<template>
  <div class="category-new text-nowrap" v-trim-whitespace>
    <input type="text" class="form-control" ref="input"
           v-model="category.title"
           @keydown.enter="onEnter"
           @keydown.esc="onEsc"
           @keydown.tab="onTab"
    />
    <button class="btn-link as-icon" @click="add" title="Добавить">
      <span class="icon icon-ok"></span>
    </button>
    <button class="btn-link as-icon" @click="onEsc" title="Отменить">
      <span class="icon icon-cancel"></span>
    </button>
  </div>
</template>

<script>
import CategoryApi from '../../api/category';
import {EventBus} from '../../event_bus';
import {msgToUser} from '../../vue_mixins.js';

export default {
  mixins: [msgToUser],
  props: {
    category: Object,
  },
  methods: {
    add() {
      if (this.category.title.length > 1) {
        CategoryApi.add(this.category.title, this.category.parent_id)
          .then((response) => {
            if ('success' === response.data.type) {
              let responseCategory = response.data.category;
              responseCategory.children = {};
              responseCategory.products = {};
              EventBus.$emit('category-added', responseCategory);
            }

            this.processResponse(response);
          }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        this.onEsc();
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
    onEnter() {
      this.add();
    },
    onEsc() {
      this.$emit('category-adding-canceled');
    },
    onTab() {
      this.onEsc();
    },
  },
  mounted() {
    this.setFocus();
  },
};
</script>
