<template>
  <div class="category-item">
    <div class="item-header category-header flexed">
      <template v-if="!isEditing">
        <button class="btn-link toggler" @click="isOpened = !isOpened" :title="isOpened ? 'Свернуть' : 'Развернуть'"
                v-if="countChildren()"><span class="icon" :class="isOpened ? 'icon-folder_opened' : 'icon-folder'"></span></button>
        <drag :transfer-data="{category}"
              @dragstart="handleDragStart(category, ...arguments)">
          <span class="icon icon-move"></span>
          <span slot="image" class="drag-image">{{ category.title }}</span>
        </drag>
        <drop class="category-title" :class="{'drag-over': isDragover}"
              @drop="handleDrop"
              @dragover="handleDragover"
              @dragleave="handleDragleave">
          <span class="item-title" v-html="formatter.searchableTitle(category.title, search, minSearchLen)"></span>
        </drop>
        <button class="btn-link as-icon" @click="editOn" title="Редактировать">
          <span class="icon icon-edit"></span>
        </button>
        <button class="btn-link as-icon" @click="remove" title="Удалить" v-if="canBeRemoved()">
          <span class="icon icon-delete red"></span>
        </button>
        <button class="btn-link category-products-label" @click="isProductsOpened = !isProductsOpened" v-if="countProducts()" :title="isProductsOpened ? 'скрыть товары' : 'показать товары'">
          <span class="icon" :class="isProductsOpened ? 'icon-hide' : 'icon-show'"></span>
        </button>
        <div class="category-products-count" v-if="countProducts()">({{ countProducts() }})</div>
        <button class="btn-link as-icon" @click="runNewProduct" v-if="!newProduct" title="Добавить товар"><span
          class="icon icon-add"></span></button>
        <button v-if="!newCategory" class="btn-link as-icon" @click="runNewChild" title="Добавить подкатегорию"><span
          class="icon icon-folder_add"></span></button>
      </template>
      <template v-else>
        <input type="text" class="form-control" ref="input"
               v-model="category.title"
               @keydown.enter="onEnter"
               @keydown.esc="onEsc"
               @keydown.tab="onTab"
        />
        <button class="btn-link as-icon" @click="editFinished" title="Завершить редактирование">
          <span class="icon icon-ok"></span>
        </button>
      </template>
    </div>
    <ul class="products-list" v-show="isProductsOpened">
      <li>
        <product-component v-for="(product, product_id) in category.products" :key="product_id"
                           :init-product="product"
                           :search="search"
                           :min-search-len="minSearchLen"
                           @product-removed="onProductRemoved"
                           v-show="product.isVisible"
        ></product-component>
      </li>
      <li v-if="newProduct">
        <product-new
          ref="product_new"
          :product="newProduct"
          @product-adding-canceled="onProductAddingCanceled"
        ></product-new>
      </li>
    </ul>
    <ul class="category-children-list" v-show="isOpened">
      <li v-if="newCategory">
        <category-new
          ref="category_new"
          :category="newCategory"
          @category-adding-canceled="onCategoryAddingCanceled"
        ></category-new>
      </li>
      <li v-for="(child, id) in category.children" :key="id">
        <category
          :init-category="child"
          :search="search"
          :min-search-len="minSearchLen"
          @category-removed="onCategoryRemoved"
          v-show="child.isVisible"
          :ref="`child_${id}`"
        ></category>
      </li>
    </ul>
  </div>
</template>

<script>
import CategoryApi from '../../api/category';
import ProductApi from '../../api/product';
import {EventBus} from '../../event_bus';
import {msgToUser} from '../../vue_mixins.js';
import ProductComponent from './Product';
import ProductNew from './ProductNew';
import {Formatter} from '../../Formatter';
import CategoryNew from './CategoryNew';

export default {
  name: 'Category',
  components: {
    ProductComponent,
    ProductNew,
    CategoryNew,
  },
  mixins: [msgToUser],
  data() {
    return {
      category: this._initCategory(this.initCategory),
      isEditing: false,
      isOpened: false,
      isProductsOpened: false,
      isDragover: false,
      originalTitle: this.initCategory.title,
      newProduct: null,
      newCategory: null,
      formatter: new Formatter(),
    };
  },
  props: {
    initCategory: Object,
    search: '',
    minSearchLen: Number,
  },
  methods: {
    _initCategory(category) {
      category.isVisible = true;
      return category;
    },
    canBeRemoved() {
      return !this.isEditing
        && this.countChildren() === 0
        && this.countProducts() === 0;
    },
    countChildren() {
      return Object.keys(this.category.children).length;
    },
    countProducts() {
      return Object.keys(this.category.products).length;
    },
    handleDragStart(category, data) {
      data.item = category;
      data.type = 'category';
    },
    handleDragover(data, event) {
      switch (data.type) {
        case 'category':
          this.isDragover = data.item.id !== this.category.id && data.item.parent_id !== this.category.id;
          break;

        case 'product':
          this.isDragover = data.item.category_id !== this.category.id;
          break;

        default:
          this.isDragover = false;
          break;
      }
    },
    handleDragleave(data) {
      this.isDragover = false;
    },
    handleDrop(data) {
      this.isDragover = false;

      switch (data.type) {
        case 'category':
          let category = data.item;
          if (category.id === this.category.id || category.parent_id === this.category.id) {
            return;
          }
          CategoryApi.moveToCategory(category.id, this.category.id)
            .then((response) => {
              if ('success' === response.data.type) {
                EventBus.$emit('category-moved', category, category.parent_id, this.category.id);
                if (response.data.totals) {
                  EventBus.$emit('totals-updated', response.data.totals);
                }
              }

              this.processResponse(response);
            }).catch((response) => {
            this.processCatch(response);
          });
          break;

        case 'product':
          let product = data.item;

          if (product.category_id === this.category.id) {
            return;
          }

          ProductApi.moveToCategory(product.id, this.category.id)
            .then((response) => {
              if ('success' === response.data.type) {
                EventBus.$emit('product-moved', product, product.category_id, this.category.id);
                if (response.data.totals) {
                  EventBus.$emit('totals-updated', response.data.totals);
                }
              }

              this.processResponse(response);
            }).catch((response) => {
            this.processCatch(response);
          });
          break;

        default:
          return;
      }

    },
    _removeChildCategory(category_id) {
      delete this.category.children[category_id];
      this._updateChildren();
    },
    _addChild(category) {
      this.category.children[category.id] = category;
      this._updateChildren();
    },
    _updateChildren() {
      this.category.children = Object.assign({}, this.category.children);
    },
    runNewChild() {
      this.isOpened = true;
      this.newCategory = {
        id: '',
        title: '',
        isVisible: true,
        parent_id: this.category.id,
        children: {},
        products: {},
      };
    },
    onCategoryAdded(category) {
      if (category.parent_id !== this.category.id) {
        return;
      }
      category.isVisible = true;
      // Поскольку кнопка добавления новой категории над списком,
      // то карточку добавленной категории удобно будет получить там же под кнопкой.
      // А поскольку список категорий у нас объект, новый элемент должен иметь ключ.
      let item = {};
      item[category.id] = category;
      this.category.children = Object.assign(item, this.category.children);

      this.newCategory = null;
    },
    onCategoryAddingCanceled() {
      this.newCategory = null;
    },
    onCategoryRemoved(category) {
      if (category.parent_id !== this.category.id) {
        return;
      }

      this._removeChildCategory(category.id);
    },
    onCategoryMoved(category, from_category_id, to_category_id) {
      if (this.category.id !== from_category_id && this.category.id !== to_category_id) {
        return;
      }
      if (from_category_id === this.category.id) {
        this._removeChildCategory(category.id);
      }
      else if (to_category_id === this.category.id) {
        category.parent_id = this.category.id;
        this._addChild(category);
      }
    },
    onCategoryRenamed(category) {
      if (this.category.id === category.id) {
        this.category.title = category.title;
        this.category.originalTitle = category.title;
      }
    },
    editOn() {
      this.isEditing = true;
      this.setFocus();
      this.select();
    },
    editFinished() {
      if (this.category.title !== this.originalTitle) {
        CategoryApi.rename(this.category.id, this.category.title)
          .then((response) => {
            if ('success' === response.data.type) {
              this.originalTitle = this.category.title;
              this.isEditing = false;

              EventBus.$emit('category-renamed', this.category);
            }

            this.processResponse(response);
          }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        this.isEditing = false;
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
    select() {
      this.$nextTick(() => {
        this.$refs.input.select();
      });
    },
    onEnter() {
      this.editFinished();
    },
    onEsc() {
      this.isEditing = false;
      this.category.title = this.originalTitle;
    },
    onTab() {
      this.onEsc();
    },
    _addProduct(product) {
      this.category.products[product.id] = product;
      this._updateProducts();
    },
    _removeProduct(product_id) {
      delete this.category.products[product_id];
      this._updateProducts();
    },
    _updateProducts() {
      this.category.products = Object.assign({}, this.category.products);
    },
    onProductMoved(product, from_category_id, to_category_id) {
      if (from_category_id === this.category.id) {
        this._removeProduct(product.id);

        // Если в исходной категории больше не осталось товаров, то сворачиваем её.
        if (0 === Object.keys(this.category.products).length) {
          this.isProductsOpened = false;
        }
      }

      if (to_category_id === this.category.id) {
        product.isVisible = true;
        this._addProduct(product);
      }
    },
    onProductRenamed(product) {
      if (this.category.id === product.category_id) {
        this.category.products[product.id].title = product.title;
        this._updateProducts();
      }
    },
    runNewProduct() {
      this.isProductsOpened = true;
      this.newProduct = {
        id: '',
        title: '',
        category_id: this.category.id,
        isVisible: true,
        expenses_count: 0,
      };
    },
    onProductAdded(product) {
      if (this.category.id === product.category_id) {
        this._addProduct(product);
        this.newProduct = null;
        this.isProductsOpened = true;
      }
    },
    onProductAddingCanceled() {
      this.newProduct = null;
    },
    onProductRemoved(product) {
      if (this.category.id === product.category_id) {
        this._removeProduct(product.id);
        if (this.isProductsOpened && 0 === Object.keys(this.category.products).length) {
          this.isProductsOpened = false;
        }
      }
    },
    remove() {
      if (!this.category.id) {
        return;
      }

      CategoryApi.remove(this.category.id)
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('category-removed', this.category);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    find() {
      this.isOpened = false;
      this.category.isVisible = false;
      this.isProductsOpened = false;

      for (let category_id in this.category.children) {
        let ref = `child_${category_id}`;
        if (this.$refs[ref][0].find()) {
          this.category.isVisible = true;
        }
      }

      if (this.category.title.toLowerCase().includes(this.search)) {
        this.category.isVisible = true;
        this.$parent.open();
      }

      let foundProducts = 0;
      for (let product_id in this.category.products) {
        if (this.category.products[product_id].title.toLowerCase().includes(this.search)) {
          this.category.products[product_id].isVisible = true;
          foundProducts++;
        }
        else {
          this.category.products[product_id].isVisible = false;
        }
      }

      if (foundProducts > 0) {
        this.category.isVisible = true;
        this.$parent.open();
        this.isProductsOpened = true;
      }

      return this.category.isVisible;
    },
    resetSearch() {
      this.category.isVisible = true;
      this.isOpened = false;
      this.isProductsOpened = false;

      for (let product_id in this.category.products) {
        this.category.products[product_id].isVisible = true;
      }

      for (let category_id in this.category.children) {
        let ref = `child_${category_id}`;
        this.$refs[ref][0].resetSearch();
      }
    },
    open() {
      this.category.isVisible = true;
      this.isOpened = true;
      this.$parent.open();
    },
  },
  created: function () {
    EventBus.$on('product-added', this.onProductAdded);
    EventBus.$on('product-moved', this.onProductMoved);
    EventBus.$on('product-renamed', this.onProductRenamed);
    EventBus.$on('product-removed', this.onProductRemoved);
    EventBus.$on('category-added', this.onCategoryAdded);
    EventBus.$on('category-removed', this.onCategoryRemoved);
    EventBus.$on('category-renamed', this.onCategoryRenamed);
    EventBus.$on('category-moved', this.onCategoryMoved);
  },
};
</script>
