<template>
  <table class="table table-sm table-bordered table-striped table-hover contractors">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Адрес в сети</th>
      <th scope="col">Примечание</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(contractor, index) in contractors" :key="index">
      <td v-if="!contractor.isEditingTitle" @mousedown.left="onMouseClick(contractor, index, 'title')">
        <div>{{ contractor.title }}</div>
      </td>
      <td v-else>
        <input class="form-control" ref="input"
               :class="errors.hasFieldErrors(index, 'title') ? 'error' : ''"
               type="text"
               @keydown.enter="onEnterTitle(contractor, index)"
               @keydown.esc="onEsc(contractor)"
               v-model="contractor.title">
        <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'title')">{{ errors.fieldError(index, 'title') }}</div>
      </td>
      <td v-if="!contractor.isEditingUrl" @mousedown.left="onMouseClick(contractor, index, 'url')">
        <div>
          <a :href="contractor.url" v-if="contractor.url">{{ contractor.url }}</a>
        </div>
      </td>
      <td v-else>
        <input class="form-control" ref="input"
               :class="errors.hasFieldErrors(index, 'url') ? 'error' : ''"
               type="text"
               @keydown.enter="onEnterUrl(contractor, index)"
               @keydown.esc="onEsc(contractor)"
               v-model="contractor.url">
        <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'url')">{{ errors.fieldError(index, 'url') }}</div>
      </td>
      <td v-if="!contractor.isEditingNote" @mousedown.left="onMouseClick(contractor, index, 'note')">
        <div v-html="$options.filters.nl2br(contractor.note)"></div>
      </td>
      <td v-else>
        <textarea class="form-control" rows="3" ref="input"
                  :class="errors.hasFieldErrors(index, 'note') ? 'error' : ''"
                  @keydown.enter="onEnterNote(contractor, index)"
                  @keydown.esc="onEsc(contractor)"
                  v-model="contractor.note"></textarea>
        <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'note')">{{ errors.fieldError(index, 'note') }}</div>
      </td>
      <td class="actions">
        <button v-if="!contractor.expenses_count" type="button" class="btn-link as-icon" @click="remove(contractor, index)" title="Удалить">
          <span class="icon icon-delete red"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import ContractorApi from '../../api/contractor';
import {msgToUser, filters} from '../../vue_mixins';
import {Errors} from '../../Errors';

export default {
  mixins: [
    msgToUser,
    filters,
  ],
  data() {
    return {
      contractors: this._initContractors(),
      errors: new Errors(),
    };
  },
  props: {
    initContractors: Array,
  },
  methods: {
    _initContractors() {
      return this.initContractors.map(function (contractor) {
        contractor.isEditingTitle = false;
        contractor.isEditingUrl = false;
        contractor.isEditingNote = false;
        contractor.originalTitle = contractor.title;
        contractor.originalUrl = contractor.url;
        contractor.originalNote = contractor.note;
        return contractor;
      });
    },
    onMouseClick(contractor, index, field) {
      for (let i in this.contractors) {
        let anotherContractor = this.contractors[i];
        this.onEnterTitle(anotherContractor, i);
        this.onEnterUrl(anotherContractor, i);
        this.onEnterNote(anotherContractor, i);
      }

      switch (field) {
        case 'title':
          contractor.isEditingTitle = true;
          break;

        case 'url':
          contractor.isEditingUrl = true;
          break;

        case 'note':
          contractor.isEditingNote = true;
          break;

        default:
          break;
      }

      this.$nextTick(() => {
        setTimeout(() => {
          this.$refs.input[0].focus();
        }, 200);

      });
    },
    onEnterTitle(contractor, index) {
      this.updateTitle(contractor, index);
    },
    onEnterUrl(contractor, index) {
      this.updateUrl(contractor, index);
    },
    onEnterNote(contractor, index) {
      this.updateNote(contractor, index);
    },
    onEsc(contractor) {
      contractor.isEditingTitle = false;
      contractor.isEditingUrl = false;
      contractor.isEditingNote = false;
      contractor.title = contractor.originalTitle;
      contractor.url = contractor.originalUrl;
      contractor.note = contractor.originalNote;
      this.errors.reset();
    },
    updateTitle(contractor, index) {
      this.validateTitle(contractor, index);
      if (this.errors.hasFieldErrors(index, 'title')) {
        this.showError(this.errors.fieldError(index, 'title'));
        return;
      }

      if (contractor.title !== contractor.originalTitle) {
        ContractorApi.change(contractor).then((response) => {
          if ('success' === response.data.type) {
            contractor.isEditingTitle = false;
            contractor.originalTitle = contractor.title;
          }

          this.processResponse(response);
        }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        contractor.isEditingTitle = false;
      }
    },
    updateUrl(contractor, index) {
      if (contractor.url !== contractor.originalUrl) {
        ContractorApi.change(contractor).then((response) => {
          if ('success' === response.data.type) {
            contractor.isEditingUrl = false;
            contractor.originalUrl = contractor.url;
          }

          this.processResponse(response);
        }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        contractor.isEditingUrl = false;
      }
    },
    updateNote(contractor, index) {
      if (contractor.note !== contractor.originalNote) {
        ContractorApi.change(contractor).then((response) => {
          if ('success' === response.data.type) {
            contractor.isEditingNote = false;
            contractor.originalNote = contractor.note;
          }

          this.processResponse(response);
        }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        contractor.isEditingNote = false;
      }
    },
    remove(contractor, index) {
      if (!contractor.id) {
        return;
      }

      ContractorApi.remove(contractor.id)
        .then((response) => {
          if ('success' === response.data.type) {
            this.contractors.splice(index, 1);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    validateTitle(contractor, index) {
      this.errors.resetFieldErrors(index, 'title');

      if (!contractor.title.length) {
        this.errors.addError(index, 'title', 'Название обязательно.');
      }
    },
  },
};
</script>
