<template>
  <div class="item-header flexed" v-trim-whitespace>
    <template v-if="!isEditing">
      <drag class="item-title" tag="span"
            :transfer-data="{product}" :draggable="!isEditing" @dragstart="handleDragStart">
        <span class="icon icon-item"></span>
        <span v-html="formatter.searchableTitle(product.title, search, minSearchLen)"></span>
        <span slot="image" class="drag-image">{{ product.title }}</span>
      </drag>
      <button class="btn-link as-icon" @click="editOn" title="Редактировать">
        <span class="icon icon-edit"></span>
      </button>
      <button v-if="!product.expenses_count" class="btn-link as-icon" @click="remove" title="Удалить">
        <span class="icon icon-delete red"></span>
      </button>
    </template>
    <template v-else>
      <input type="text" class="form-control" ref="input"
             v-model="product.title"
             @keydown.enter="onEnter"
             @keydown.esc="onEsc"
             @keydown.tab="onTab"
      />
      <button class="btn-link as-icon" @click="editFinished" title="Завершить редактирование">
        <span class="icon icon-ok"></span>
      </button>
    </template>
  </div>
</template>

<script>
import ProductApi from '../../api/product';
import {EventBus} from '../../event_bus';
import {msgToUser} from '../../vue_mixins';
import {Formatter} from '../../Formatter';

export default {
  mixins: [msgToUser],
  data() {
    return {
      product: this.initProduct,
      isEditing: false,
      originalTitle: this.initProduct.title,
      formatter: new Formatter(),
    };
  },
  props: {
    initProduct: Object,
    search: '',
    minSearchLen: Number,
  },
  methods: {
    handleDragStart(data, event) {
      data.item = this.product;
      data.type = 'product';
    },
    editOn() {
      this.isEditing = true;
      this.setFocus();
      this.select();
    },
    editFinished() {
      if (this.product.title !== this.originalTitle) {
        ProductApi.rename(this.product.id, this.product.title)
          .then((response) => {
            if ('success' === response.data.type) {
              this.product.title = response.data.item.title;
              this.isEditing = false;

              EventBus.$emit('product-renamed', this.product);
            }

            this.processResponse(response);
          }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        this.isEditing = false;
      }
    },
    onProductRenamed(product) {
      if (this.product.id === product.id) {
        this.product.title = product.title;
        this.originalTitle = this.product.title;
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
    select() {
      this.$nextTick(() => {
        this.$refs.input.select();
      });
    },
    onEnter() {
      this.editFinished();
    },
    onEsc() {
      this.isEditing = false;
      this.product.title = this.originalTitle;
    },
    onTab() {
      this.onEsc();
    },
    remove() {
      if (!this.product.id) {
        return;
      }

      ProductApi.remove(this.product.id)
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('product-removed', this.product);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
  },
  created: function () {
    EventBus.$on('product-renamed', this.onProductRenamed);
  },
};
</script>
