<template>
  <div class="product-new text-nowrap">
    <input type="text" class="form-control" ref="input"
           v-model="product.title"
           @keydown.enter="onEnter"
           @keydown.esc="onEsc"
           @keydown.tab="onTab"
    />
    <button class="btn-link as-icon" @click="add" title="Добавить">
      <span class="icon icon-ok"></span>
    </button>
    <button class="btn-link as-icon" @click="onEsc" title="Отменить">
      <span class="icon icon-cancel"></span>
    </button>
  </div>
</template>

<script>
import ProductApi from '../../api/product';
import {EventBus} from '../../event_bus';
import {msgToUser} from '../../vue_mixins.js';

export default {
  mixins: [msgToUser],
  props: {
    product: Object,
  },
  methods: {
    add() {
      if (this.product.title.length > 1) {
        ProductApi.add(this.product.category_id, this.product.title)
          .then((response) => {
            if ('success' === response.data.type) {
              let product = Object.assign(this.product, response.data.product);
              EventBus.$emit('product-added', product);
            }

            this.processResponse(response);
          }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        this.onEsc();
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
    onEnter() {
      this.add();
    },
    onEsc() {
      this.$emit('product-adding-canceled');
    },
    onTab() {
      this.onEsc();
    },
  },
  mounted() {
    this.setFocus();
  },
};
</script>
