<template>
	<div class="products-manage">
		<categories :initial-categories="categories1" :min-search-len="minSearchLen"></categories>
		<categories :initial-categories="categories2" :min-search-len="minSearchLen"></categories>
	</div>
</template>

<script>
	import Categories from "./Categories";

	export default {
		inheritAttrs: false,
		components: {
      Categories,
		},
    data() {
      return {
        categories1: JSON.parse(JSON.stringify(this.categories)),
        categories2: JSON.parse(JSON.stringify(this.categories)),
      }
    },
		props: {
      categories: Object,
			minSearchLen: {
				type: Number,
				default: 3,
			},
		},
	}
</script>
