<template>
  <ul class="units">
    <li v-for="(unit, index) in units" :key="index">
      <div class="actions">
        <button v-if="!unit.expenses_count && !unit.isEditingTitle" type="button" class="btn-link as-icon" @click="remove(unit, index)" title="Удалить">
          <span class="icon icon-delete red"></span>
        </button>
      </div>
      <div class="unit-title" v-if="!unit.isEditingTitle" @mousedown.left="onMouseClick(unit, index, 'title')">{{ unit.title }}</div>
      <div v-else>
        <input class="form-control" ref="input"
               :class="errors.hasFieldErrors(index, 'title') ? 'error' : ''"
               type="text"
               @keydown.enter="onEnterTitle(unit, index)"
               @keydown.esc="onEsc(unit)"
               v-model="unit.title">
        <div class="invalid-feedback" v-show="errors.hasFieldErrors(index, 'title')">{{ errors.fieldError(index, 'title') }}</div>
      </div>
    </li>
  </ul>
</template>

<script>
import UnitApi from '../../api/unit';
import {msgToUser} from '../../vue_mixins';
import {Errors} from '../../Errors';

export default {
  name: 'UnitsManage',
  mixins: [msgToUser],
  data() {
    return {
      units: this._initUnits(),
      errors: new Errors(),
    };
  },
  props: {
    initUnits: Array,
  },
  methods: {
    _initUnits() {
      return this.initUnits.map(function (unit) {
        unit.isEditingTitle = false;
        unit.originalTitle = unit.title;
        return unit;
      });
    },
    onMouseClick(unit, index, field) {
      for (let i in this.units) {
        let anotherUnit = this.units[i];
        this.onEnterTitle(anotherUnit, i);
      }

      switch (field) {
        case 'title':
          unit.isEditingTitle = true;
          break;

        default:
          break;
      }

      this.$nextTick(() => {
        setTimeout(() => {
          this.$refs.input[0].focus();
        }, 200);

      });
    },
    onEnterTitle(unit, index) {
      this.updateTitle(unit, index);
    },
    onEsc(unit) {
      unit.isEditingTitle = false;
      unit.title = unit.originalTitle;
      this.errors.reset();
    },
    updateTitle(unit, index) {
      this.validateTitle(unit, index);
      if (this.errors.hasFieldErrors(index, 'title')) {
        this.showError(this.errors.fieldError(index, 'title'));
        return;
      }

      if (unit.title !== unit.originalTitle) {
        UnitApi.rename(unit.id, unit.title)
          .then((response) => {
            if ('success' === response.data.type) {
              unit.isEditingTitle = false;
              unit.originalTitle = unit.title;
            }

            this.processResponse(response);
          }).catch((response) => {
          this.processCatch(response);
        });
      }
      else {
        unit.isEditingTitle = false;
      }
    },
    remove(unit, index) {
      if (!unit.id) {
        return;
      }

      UnitApi.remove(unit.id)
        .then((response) => {
          if ('success' === response.data.type) {
            this.units.splice(index, 1);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    validateTitle(unit, index) {
      this.errors.resetFieldErrors(index, 'title');

      if (!unit.title.length) {
        this.errors.addError(index, 'title', 'Название обязательно.');
      }
    },
    handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        for (let i in this.units) {
          this.onEsc(this.units[i]);
        }
      }
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
};
</script>
