<template>
  <div class="select-unit form-group">
    <label for="select-unit">
      <slot>Ед. изм.</slot>
    </label>
    <template v-if="!isNewUnit">
      <div class="select-unit-wrapper">
        <select id="select-unit" :value="value" @input="$emit('input', $event.target.value)">
          <option v-for="(title, id) in units" :key="id" :value="id">{{ title }}</option>
        </select>
        <button type="button" class="btn btn-link" @click="runNewUnit">+</button>
      </div>
    </template>
    <template v-else>
      <div class="new-unit-wrapper">
        <input class="form-control new-unit" type="text" v-model="newUnit"
               @keydown.enter.stop.prevent="onEnter"
               ref="new_unit">
        <button type="button" class="btn-link as-icon" @click="addNewUnit" v-show="newUnit.length"><span class="icon icon-ok"></span></button>
      </div>
    </template>
  </div>
</template>

<script>
import UnitApi from '../../api/unit';
import {EventBus} from '../../event_bus';
import {msgToUser, routeAdapter} from '../../vue_mixins';
import {expenseValidator} from '../expense/mixins';

export default {
  name: 'SelectUnit',
  mixins: [
    msgToUser,
    routeAdapter,
    expenseValidator,
  ],
  data() {
    return {
      newUnit: '',
      isNewUnit: false,
    };
  },
  props: {
    units: Object,
    value: String,
  },
  methods: {
    runNewUnit() {
      this.isNewUnit = true;
      this.setFocus();
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.new_unit.focus();
      });
    },
    onEnter() {
      this.addNewUnit();
    },
    addNewUnit() {
      return UnitApi.add(this.newUnit)
        .then((response) => {
          this.processResponse(response);
          if ('success' === response.data.type) {
            EventBus.$emit('unit-added', response.data.item);
            this.isNewUnit = false;
          }
        });
    },
  },
};
</script>
