<template>
  <div class="favorites-group">
    <div class="group" :class="show_items ? 'opened' : ''">
      <button class="btn-link toggler" @click="show_items = !show_items">{{ group }}</button>
    </div>
    <div class="items" v-show="show_items">
      <div class="item" v-for="expense of items">
        <div class="actions">
          <button class="btn-link as-icon" @click="removeItem(expense)" title="Убарть из избранного">
            <span class="icon icon-star-full"></span>
          </button>
        </div>
        <div class="expense">
          <button class="btn btn-link product" type="button" @click="expenseToForm(expense)" title="Заполнить форму данными расхода.">{{ formatter.product(expense.product) }}</button>
          <div class="info">
            <span class="contractor">{{ expense.contractor.title }}</span><span class="quantity">{{ expense.quantity|quantity }}{{ expense.unit|item }}</span><span class="amount">{{ expense.amount|amount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {EventBus} from '../../../event_bus';
import {filters, msgToUser} from '../../../vue_mixins';
import {Formatter} from '../../../Formatter';

export default {
  name: 'FavoritesGroup',
  mixins: [
    msgToUser,
    filters,
  ],
  props: {
    group: String,
    items: Array,
  },
  data() {
    return {
      formatter: new Formatter(),
      show_items: false,
    };
  },
  methods: {
    removeItem(expense) {
      EventBus.$emit('expense-remove-from-favorites', expense.id);
    },
    expenseToForm(expense) {
      EventBus.$emit('favorite-item-to-form', expense);
    },
  },
};
</script>
