<template>
  <section class="favorites block">
    <header>Избранное</header>
    <main>
      <ul>
        <li v-for="(expenses, group) of items" :key="group">
          <favorites-group :group="group" :items="expenses"></favorites-group>
        </li>
      </ul>
    </main>
  </section>
</template>

<script>
import FavoritesGroup from './FavoritesGroup.vue';

export default {
  name: 'Favorites',
  components: {
    FavoritesGroup,
  },
  props: {
    items: Object,
  },

};
</script>
