<template>
  <form class="new-expense">
    <form-alert :errors="errors" v-if="errors.size"/>
    <main>
      <div class="expense-date form-group">
        <label for="date">Дата <small class="form-text text-muted">Ctrl+D</small></label>
        <input id="date" class="form-control date"
               :class="errors.has('date') ? 'error' : ''"
               name="date" type="date"
               v-model="expense.date"
               @keydown.ctrl.d.stop.prevent="onSetPrevDate">
        <div class="invalid-feedback" v-show="errors.has('date')">{{ errors.get('date') }}</div>
      </div>
      <div class="expense-account form-group" v-if="accounts.length > 1">
        <label for="account">Счёт</label>
        <select id="account" v-model="expense.account.id" ref="account_focus" @change="onAccountChanged">
          <option v-for="account in accounts" :value="account.id">
            {{ account.title }}
            <template v-if="account.remain">
              ({{ account.remain|amount }})
            </template>
          </option>
        </select>
      </div>
      <div class="expense-product form-group">
        <product-autocomplete id="product"
                              :input-class="errors.has('product') ? 'error' : ''"
                              v-model="expense.product"
                              label="Товар <small class='form-text text-muted'>Ctrl+D</small>"
                              @input="onSetProduct"
                              @clear="onClearProduct"
                              @keydown.ctrl.d.stop.prevent="onSetPrevProduct"
                              ref="product_focus"
        ></product-autocomplete>
        <div class="invalid-feedback" v-show="errors.has('product')">{{ errors.get('product') }}</div>
      </div>
      <div class="expense-quantity-amount">
        <div class="expense-quantity form-group">
          <label for="quantity">Кол-во <small class="form-text text-muted">Ctrl+D</small></label>
          <input id="quantity" class="form-control quantity"
                 :class="errors.has('quantity') ? 'error' : ''"
                 type="text" size="4"
                 v-model="expense.quantity"
                 @keydown.ctrl.d.stop.prevent="onSetPrevQuantity">
        </div>
        <select-unit :units="units" v-model="expense.unit.id"></select-unit>
        <div class="expense-amount form-group">
          <money id="amount"
                 :css_class="errors.has('amount') ? 'amount error' : 'amount'"
                 size="10"
                 v-model="expense.amount"
                 @keydown.ctrl.d.stop.prevent="onSetPrevAmount"
                 @keydown.ctrl.s.stop.prevent="onAdd">
            <template v-slot:label>
              <label for="amount">Сумма <small class="form-text text-muted">Ctrl+D, Ctrl+S</small></label>
            </template>
          </money>
        </div>
      </div>
      <div class="expense-contractor form-group">
        <label for="contractor">Контрагент <small class="form-text text-muted">Ctrl+D, Ctrl+S</small></label>
        <autocomplete id="contractor"
                      v-model="expense.contractor"
                      @clear="onClearContractor"
                      :query-route="route('api.contractors.find')"
                      :add-route="route('api.contractor.add')"
                      @input="onSetContractor"
                      @keydown.ctrl.d.stop.prevent="onSetPrevContractor"
                      @keydown.ctrl.s.stop.prevent="onAdd"
        ></autocomplete>
      </div>
      <div class="expense-note form-group">
        <label for="note">Примечание <small class="form-text text-muted">Ctrl+S</small></label>
        <textarea id="note" class="form-control note" rows="2"
                  v-model="expense.note"
                  @keydown.ctrl.s.stop.prevent="onAdd"></textarea>
      </div>
    </main>
    <footer class="actions form-group">
      <button v-if="!expense.id" class="btn btn-primary btn-sm" type="button" @click="add">
        <span class="icon icon-ok"></span> Добавить
      </button>
    </footer>
  </form>
</template>

<script>
import ContractorApi from '../../../api/contractor';
import ExpenseApi from '../../../api/expense';
import {msgToUser, routeAdapter} from '../../../vue_mixins';
import {expenseValidator} from '../mixins';
import {date_from_format} from '../../../functions';
import {EventBus} from '../../../event_bus';
import Autocomplete from '../../Autocomplete';
import ProductAutocomplete from './../ProductAutocomplete';
import Money from '../Money';
import {Product} from '../../../Product';
import {Item} from '../../../Item';
import SelectUnit from '../../unit/Select';
import {filters} from '../../../vue_mixins';
import FormAlert from '../FormAlert.vue';

export default {
  mixins: [
    msgToUser,
    routeAdapter,
    expenseValidator,
    filters,
  ],
  components: {
    Autocomplete,
    ProductAutocomplete,
    Money,
    SelectUnit,
    FormAlert,
  },
  props: {
    initialExpense: Object,
    defaultAccountId: String,
    accounts: Array,
    units: Object,
    lastExpense: Object,
  },
  data() {
    return {
      expense: this.initExpense(),
      prevExpense: this.lastExpense ? Object.assign({}, this.lastExpense) : this.lastExpense,
      errors: new Map(),
    };
  },
  methods: {
    initExpense() {
      return Object.assign({}, this.initialExpense);
    },
    setPrevExpense(prevExpense) {
      this.prevExpense = prevExpense;
    },
    onAccountChanged() {
      let account = this.accounts.find(a => a.id === this.expense.account.id);
      if (account.remain) {
        this.expense.amount = account.remain;
      }
      if (account.contractor) {
        this.expense.contractor = account.contractor;
      }
    },
    /**
     *
     * @param {Product} product
     */
    onSetProduct(product) {
      this.expense.product = product;
    },
    onClearProduct() {
      this.expense.product = new Product();
    },
    onSetContractor(value) {
      this.expense.contractor = value;
    },
    onClearContractor() {
      this.expense.contractor = new Item();
    },
    fillFromExpense(expense) {
      // Дата должна остаться та, которая выбрана в форме.
      let date = this.expense.date;
      this.expense = Object.assign({}, expense);
      this.expense.id = '';
      this.expense.date = date;
    },
    onSetPrevDate(event) {
      if (null !== this.prevExpense) {
        this.expense.date = date_from_format(this.prevExpense.date);
      }
    },
    onSetPrevProduct(event) {
      if (null !== this.prevExpense) {
        this.expense.product = this.prevExpense.product;
      }
    },
    onSetPrevQuantity(event) {
      if (null !== this.prevExpense) {
        this.expense.quantity = this.prevExpense.quantity;
      }
    },
    onSetPrevAmount(event) {
      if (null !== this.prevExpense) {
        this.expense.amount = this.prevExpense.amount;
      }
    },
    onSetPrevContractor(event) {
      if (null !== this.prevExpense) {
        this.expense.contractor = this.prevExpense.contractor;
      }
    },
    onAdd() {
      this.add();
    },
    addContractor() {
      return ContractorApi.add(this.expense.contractor.title)
        .then((response) => {
          if ('success' === response.data.type) {
            this.processResponse(response);
            // @todo: url, но можно и не делать - он используется только в управлении.
            this.expense.contractor = new Item(response.data.item);
          }
          else {
            // Если нового контрагента не удалось добавить на лету,
            // то расход-то всё равно создадим (контрагент там необязателен),
            // но пользователь должен знать: что добавить не удалось, что расход добавлен
            // без контрагента, что контрагента пусть добавит потом и засунет в этот расход.
            throw new Error(JSON.stringify(response));
          }
        });
    },
    addExpense() {
      ExpenseApi.add({
        date: this.expense.date,
        account_id: this.expense.account.id,
        product_id: this.expense.product.id,
        unit_id: this.expense.unit.id,
        quantity: this.expense.quantity,
        amount: this.expense.amount,
        contractor_id: this.expense.contractor ? this.expense.contractor.id : '',
        note: this.expense.note,
      })
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('expense-added', response.data.expense, response.data.prev_favorite_id);
            EventBus.$emit('totals-updated', response.data.totals);

            // Дата по умолчаню для следующего расхода.
            let date = this.expense.date;
            this.expense = this.initExpense();
            this.expense.date = date;
          }

          this.processResponse(response);
        });
    },
    add() {
      this.errors = this.validate(this.expense);
      let account = this.accounts.find(account => account.id === this.expense.account.id);
      if (account.remain && this.expense.amount > account.remain) {
        this.errors.set('amount', 'Сумма больше, чем остаток на счете.');
      }
      if (this.errors.size) {
        this.showErrors(Object.values(this.errors));
        return;
      }

      // Если контрагент совсем-совсем новый (то есть его даже автокомплит не добавил - такое возможно,
      // если мы добавляем расход по Ctrl+S из поля контрагента),
      // то мы можем попробовать его добавить до добавления расхода, синхронно.
      if (this.expense.contractor && this.expense.contractor.title && !this.expense.contractor.id) {
        // Добавление расхода пусть подождет добавления нового контрагента.
        this.addContractor().catch((error) => {
          // Ошибка о добавлении контрагента
          this.processErrorsInResponse(JSON.parse(error.message));
          // и информация для пользователя.
          this.showInfo('Не удалось добавить нового контрагента.<br>Вы можете попробовать создать его вручную<br>и затем выбрать в редактировании расхода.');
        }).finally(() => {
          this.addExpense();
        });
      }
      else {
        this.addExpense();
      }
    },
    onUnitAdded(unit) {
      this.expense.unit = unit;
    },
    setFocus() {
      this.$nextTick(() => {
        // Для если first_focus стоит на компоненте.
        // this.$refs.first_focus.setFocus();
        if ('undefined' !== typeof this.$refs.account_focus) {
          this.$refs.account_focus.focus();
        }
        else {
          this.$refs.product_focus.setFocus();
        }
      });
    },
  },
  created: function () {
    EventBus.$on('unit-added', this.onUnitAdded);
  },
};
</script>
