<template>
  <div class="main-page">
    <div class="tabs">
      <ul class="tabs-links">
        <li :class="'expense' === mode ? 'active' : ''">
          <button type="button" class="btn btn-link" @click="mode = 'expense'">Расход</button>
        </li>
        <li :class="'transaction' === mode ? 'active' : ''">
          <button type="button" class="btn btn-link" @click="mode = 'transaction'">Перевод</button>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <section class="new-expense-wrapper" v-if="'expense' === mode">
        <div id="new-expense-form" class="form">
          <expense-form ref="expense_form"
                        :initial-expense="newExpense"
                        :accounts="accountsWithRemain"
                        :units="units"
                        :last-expense="lastExpense"
                        :default-account-id="defaultAccountId"
          >
          </expense-form>
        </div>
        <div id="last-expense" class="last-expense">
          <simple-view ref="last_expense_view" :init-expense="lastExpense" v-if="lastExpense">
            <template v-slot:title>
              <button class="btn btn-success btn-sm expense-to-form" type="button" @click="expenseToForm(lastExpense)" title="Заполнить форму данными расхода.">
                <span class="icon icon-arrow-left"></span>
              </button>
              <div class="block-title">Последний расход</div>
            </template>
          </simple-view>
          <favorites :items="favoriteItems" v-if="hasFavoriteItems"></favorites>
        </div>
        <div id="today-expenses" v-show="hasTodayItems" class="today-expenses">
          <h4 class="today-expenses-title">Добавленные сегодня расходы</h4>
          <journal ref="journal"
                   :items="todayItems"
                   :init-units="units"
                   @became-empty="hasTodayItems=false"
                   @became-not-empty="hasTodayItems=true"></journal>
        </div>
      </section>
      <template v-else>
        <transaction-form :accounts="accounts" :transaction="newTransaction" :default-account-id="defaultAccountId"></transaction-form>
      </template>
    </div>

  </div>
</template>

<script>
import ExpenseApi from '../../../api/expense';
import ExpenseForm from './Form';
import TransactionForm from './TransactionForm.vue';
import SimpleView from './SimpleView';
import Favorites from './Favorites.vue';
import Journal from '../Journal/Journal';
import {date_format} from '../../../functions';
import {EventBus} from '../../../event_bus';
import {filters, msgToUser} from '../../../vue_mixins';
import {Formatter} from '../../../Formatter';


export default {
  components: {
    SimpleView,
    Favorites,
    ExpenseForm,
    TransactionForm,
    Journal,
  },
  mixins: [
    msgToUser,
    filters,
  ],
  props: {
    expense: Object,
    transaction: Object,
    defaultAccountId: String,
    accounts: Array,
    initUnits: Object,
    todayItems: Array,
    initFavoriteItems: Object,
    lastExpense: Object,
  },
  data() {
    return {
      mode: 'expense',
      accounts_: this.accounts,
      formatter: new Formatter(),
      prevExpense: this.lastExpense,
      hasTodayItems: this.todayItems.length > 0,
      units: this.initUnits,
      newExpense: this.expense,
      newTransaction: this.transaction,
      favoriteItems: this.initFavoriteItems,
    };
  },
  computed: {
    hasFavoriteItems() {
      return Object.keys(this.initFavoriteItems).length > 0;
    },
    accountsWithRemain() {
      // let accounts = [];
      // this.accounts_.forEach(function (account) {
      //   console.info('account.remain: %o - %o', account.title, account.remain);
      //   if (account.id === this.defaultAccountId) {
      //     accounts.push(account);
      //   }
      //   else if (account.remain > 0) {
      //     console.info('push by account.remain, %o', account.title);
      //     accounts.push(account);
      //   }
      // }, this);
      // return accounts;
      return this.accounts_.filter((account) => account.id === this.defaultAccountId || parseInt(account.remain) > 0);
    },
  },
  methods: {
    onExpenseAdded(expense, prev_favorite_id) {
      expense.date = date_format(expense.date);
      this.$refs.journal.addExpense(expense);
      this.$refs.last_expense_view.setExpense(expense);
      this.$refs.expense_form.setPrevExpense(expense);
      this.prevExpense = expense;

      if (prev_favorite_id) {
        for (let group in this.favoriteItems) {
          let index = this.favoriteItems[group].findIndex(item => item.id === prev_favorite_id);
          if (-1 !== index) {
            this.$set(this.favoriteItems[group], index, expense);
            break;
          }
        }
      }
      if (expense.account.id !== this.defaultAccountId) {
        let account = this.accounts_.find(account => account.id === expense.account.id);
        account.remain -= expense.amount;
        if (0 === account.remain) {
          this.expense.account = this.accounts_.find(account => account.id === this.defaultAccountId);
        }
      }
      this.setFocus();
    },
    onExpenseRemoved(expense) {
      ExpenseApi.find({last: true})
        .then((response) => {
          if ('success' === response.data.type) {
            this.prevExpense = response.data.item;
            this.$refs.last_expense_view.setExpense(this.prevExpense);
            this.$refs.expense_form.setPrevExpense(this.prevExpense);

            if (expense.account.id !== this.defaultAccountId) {
              let account = this.accounts_.find(account => account.id === expense.account.id);
              if (account) {
                account.remain += expense.amount;
              }
            }
          }
          else {
            this.processResponse(response);
          }
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    expenseToForm(expense) {
      this.$refs.expense_form.fillFromExpense(expense);
    },
    onUnitAdded(unit) {
      let newUnit = {};
      newUnit[unit.id] = unit.title;
      this.units = Object.assign(this.units, newUnit);
    },
    onExpenseAddedToFavorites(expense, prev_favorite_id) {
      if (prev_favorite_id) {
        for (let group in this.favoriteItems) {
          let index = this.favoriteItems[group].findIndex(item => item.id === prev_favorite_id);
          if (-1 !== index) {
            break;
          }
        }
      }
      else {
        let group = this.formatter.productCategory(expense.product);
        if ('undefined' === typeof this.favoriteItems[group]) {
          this.favoriteItems[group] = [];
        }
        this.favoriteItems[group].push(expense);
      }
      this.favoriteItems = Object.assign({}, this.favoriteItems);
    },
    favoriteItemRemove(expense_id) {
      ExpenseApi.remove_from_favorites(expense_id)
        .then((response) => {
          if ('success' === response.data.type) {
            for (let group in this.favoriteItems) {
              let index = this.favoriteItems[group].findIndex(item => item.id === expense_id);
              if (-1 !== index) {
                this.favoriteItems[group].splice(index, 1);
                if (!this.favoriteItems[group].length) {
                  delete this.favoriteItems[group];
                }
                EventBus.$emit('expense-removed-from-favorites', expense_id);
                break;
              }
            }
            this.favoriteItems = Object.assign({}, this.favoriteItems);
          }
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    onExpenseRemovedFromFavorites(expense_id) {
      for (let group in this.favoriteItems) {
        let index = this.favoriteItems[group].findIndex(item => item.id === expense_id);
        if (-1 !== index) {
          this.favoriteItems[group].splice(index, 1);
          if (!this.favoriteItems[group].length) {
            delete this.favoriteItems[group];
          }
          break;
        }
      }
      this.favoriteItems = Object.assign({}, this.favoriteItems);
    },
    setFocus() {
      this.$refs.expense_form.setFocus();
    },
  },
  mounted() {
    this.setFocus();
  },
  created: function () {
    EventBus.$on('expense-added', this.onExpenseAdded);
    EventBus.$on('expense-removed', this.onExpenseRemoved);
    EventBus.$on('expense-added-to-favorites', this.onExpenseAddedToFavorites);
    EventBus.$on('expense-remove-from-favorites', this.favoriteItemRemove);
    EventBus.$on('expense-removed-from-favorites', this.onExpenseRemovedFromFavorites);
    EventBus.$on('favorite-item-to-form', this.expenseToForm);
    EventBus.$on('unit-added', this.onUnitAdded);
  },
};
</script>
