<template>
  <section class="simple-expense-view list-items-view block">
    <header>
      <slot name="title"></slot>
    </header>
    <main>
      <div class="item"><span class="label">Дата</span><span>{{ expense.date }}</span></div>
      <div class="item"><span class="label">Счёт</span><span>{{ expense.account.title }}</span></div>
      <div class="item"><span class="label">Товар</span><span>{{ formatter.product(expense.product) }}</span></div>
      <div class="item"><span class="label">Кол-во</span><span>{{ expense.quantity|quantity }} {{ expense.unit|item }}</span></div>
      <div class="item"><span class="label">Сумма</span><span>{{ expense.amount|amount }}</span></div>
      <div class="item"><span class="label">Контрагент</span><span>{{ expense.contractor|item }}</span></div>
      <div class="item"><span class="label">Примечание</span><span>{{ expense.note }}</span></div>
    </main>
    <small class="form-text text-muted">
      <strong>Ctrl+D</strong>: взять из последнего расхода<br>
      <strong>Ctrl+S</strong>: сохранить расход<br>
    </small>
  </section>
</template>

<script>
import {Formatter} from '../../../Formatter';
import {filters} from '../../../vue_mixins';

export default {
  mixins: [
    filters,
  ],
  data() {
    return {
      formatter: new Formatter(),
      expense: this.initExpense,
    };
  },
  props: {
    initExpense: Object,
  },
  methods: {
    setExpense(expense) {
      this.expense = expense;
    },
  },
};
</script>
