<template>
  <form class="new-transaction">
    <form-alert :errors="errors" v-if="errors.size"/>
    <main>
      <div class="transaction-date form-group">
        <label for="date">Дата</label>
        <input id="date" class="form-control date"
               :class="errors.has('date') ? 'error' : ''"
               name="date" type="date"
               v-model="transaction_.date">
      </div>
      <div class="transaction-account-src form-group">
        <label for="account">Счёт</label>
        <select id="account" v-model="transaction_.account_src_id" ref="fist_focus">
          <option v-for="account in accounts_" :value="account.id">
            {{ account.title }}
            <template v-if="account.remain">
              ({{ account.remain|amount }})
            </template>
          </option>
        </select>
      </div>
      <div class="transaction-account-target form-group">
        <label for="account">Счёт назначения
          <button class="btn btn-link" type="button" @click="runNewAccount">добавить</button>
        </label>
        <select id="account" v-model="transaction_.account_target_id">
          <option v-for="account in targetAccounts" :value="account.id">{{ account.title }}</option>
        </select>
        <modal v-if="newAccount" @closed="onAddAccountCanceled">
          <template v-slot:header>Новый счет</template>
          <template v-slot:body>
            <account-form ref="accountForm" @add="onAddAccount" :account="newAccount"></account-form>
          </template>
          <template v-slot:footer>
            <button class="btn-sm btn-primary" type="button" @click="addAccount">Добавить</button>
          </template>
        </modal>
      </div>
      <div class="transaction-amount form-group">
        <money id="amount"
               :css_class="errors.has('amount') ? 'amount error' : 'amount'"
               size="10"
               v-model="transaction_.amount"
               @keydown.ctrl.s.stop.prevent="onAdd"
               ref="amount"
        >
          <template v-slot:label>
            <label for="amount">Сумма <small class="form-text text-muted">Ctrl+S</small></label>
          </template>
        </money>
      </div>
      <div class="transaction-note form-group">
        <label for="note">Примечание <small class="form-text text-muted">Ctrl+S</small></label>
        <textarea id="note" class="form-control note" rows="2"
                  v-model="transaction_.note"
                  @keydown.ctrl.s.stop.prevent="onAdd"></textarea>
      </div>
    </main>
    <footer class="actions form-group">
      <button v-if="!transaction_.id" class="btn btn-primary btn-sm" type="button" @click="add">
        <span class="icon icon-ok"></span> Добавить
      </button>
    </footer>
  </form>
</template>

<script>
import TransactionApi from '../../../api/transaction';
import {msgToUser, routeAdapter} from '../../../vue_mixins';
import Money from '../Money';
import {EventBus} from '../../../event_bus';
import AccountForm from '../../account/AccountForm.vue';
import Modal from '../../Modal.vue';
import {Item} from '../../../Item';
import AccountApi from '../../../api/account';
import {filters} from '../../../vue_mixins';
import FormAlert from '../FormAlert.vue';

export default {
  name: 'TransactionForm',
  mixins: [
    msgToUser,
    routeAdapter,
    filters,
  ],
  components: {
    Modal,
    AccountForm,
    Money,
    FormAlert,
  },
  props: {
    transaction: Object,
    accounts: Array,
    defaultAccountId: String,
  },
  data() {
    return {
      transaction_: this.initTransaction(),
      accounts_: this.accounts,
      newAccount: null,
      errors: new Map(),
    };
  },
  computed: {
    targetAccounts() {
      return this.accounts_.filter((account) => {
        return account.id !== this.transaction_.account_src_id && account.id !== this.defaultAccountId;
      });
    },
  },
  methods: {
    initTransaction() {
      let transaction = this.newTransaction();
      transaction.date = this.transaction.date;
      transaction.account_src_id = this.transaction.accountSrc.id;
      return transaction;
    },
    newTransaction() {
      return {
        date: new Date().toJSON().slice(0, 10),
        account_target_id: null,
        account_src_id: null,
        amount: '',
        note: '',
      };
    },
    onAdd() {
      this.add();
    },
    addTransaction() {
      TransactionApi.add(this.transaction_)
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('transaction-added', response.data.transaction);

            // Дата по умолчаню для следующего перевода.
            let date = this.transaction_.date;
            let account_src_id = this.transaction_.account_src_id;
            this.transaction_ = this.newTransaction();
            this.transaction_.date = date;
            this.transaction_.account_src_id = account_src_id;
          }

          this.processResponse(response);
        });
    },
    add() {
      this.errors = this.validate();
      if (this.errors.size) {
        this.showErrors(Object.values(this.errors));
        return;
      }

      this.addTransaction();
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.first_focus.focus();
      });
    },
    runNewAccount() {
      this.newAccount = {
        id: null,
        title: '',
        contractor: new Item(),
      };
    },
    onAddAccount(account) {
      AccountApi.add(account)
        .then((response) => {
          if ('error' === response.data.type) {
            this.processResponse(response);
            return;
          }

          this.accounts_.push(response.data.item);
          this.transaction_.account_target_id = response.data.item.id;
          this.$refs.amount.setFocus();
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      }).finally(() => {
        this.newAccount = null;
      });
      // this.setFocus();
    },
    addAccount() {
      this.$refs.accountForm.add();
    },
    onAddAccountCanceled() {
      this.newAccount = null;
    },
    /**
     * @returns {Map} errors
     */
    validate() {
      let map = new Map();

      if (!this.transaction_.date.length) {
        map.set('date', 'Дата обязательна.');
      }
      if (!this.transaction_.account_src_id) {
        map.set('account_src_id', 'Счёт-источник обязателен.');
      }
      if (!this.transaction_.account_target_id) {
        map.set('account_target_id', 'Счёт назначения обязателен.');
      }

      if (this.transaction_.account_src_id === this.transaction_.account_target_id) {
        map.set('account_src_id', 'Счёт-источник совпадает со счётом назначения.');
        map.set('account_target_id', 'Счёт назначения совпадает со счётом-источником.');
      }

      if (null === this.transaction_.amount || !this.transaction_.amount.toString().length) {
        map.set('amount', 'Сумма обязательна.');
      }

      let account = this.accounts_.find(account => account.id === this.transaction_.account_src_id);
      if (account.remain && this.transaction_.amount > account.remain) {
        map.set('amount', 'Сумма больше, чем остаток на счете.');
      }
      return map;
    },
  },
};
</script>
