<template>
  <div>
    <div class="account form-group">
      <label for="title">Счет</label>
      <input id="title" type="text" class="form-control" :class="errors.has('title') ? 'error' : ''" v-model="title" ref="first_focus">
      <div class="invalid-feedback" v-show="errors.has('title')">{{ errors.get('title') }}</div>
    </div>
    <div class="contractor form-group">
      <label for="contractor">Контрагент</label>
      <contractor-autocomplete id="contractor"
                               v-model="contractor"
                               @clear="onClearContractor"
      ></contractor-autocomplete>
      <div class="invalid-feedback" v-show="errors.has('contractor')">{{ errors.get('contractor') }}</div>
    </div>
  </div>
</template>

<script>
import {msgToUser, routeAdapter} from '../../vue_mixins';
import {Item} from '../../Item';
import Autocomplete from '../Autocomplete';
import ContractorAutocomplete from '../ContractorAutocomplete.vue';

export default {
  components: {
    Autocomplete,
    ContractorAutocomplete,
  },
  mixins: [
    msgToUser,
    routeAdapter,
  ],
  data() {
    return {
      title: this.account.title,
      contractor: this.account.contractor,
      errors: new Map(),
    };
  },
  props: {
    account: Object,
  },
  methods: {
    add() {
      this.errors = this.validate();
      if (this.errors.size) {
        this.showErrors(Object.values(this.errors));
        return;
      }

      this.$emit('add', this.buildAccount());
    },
    buildAccount() {
      return {
        id: null,
        title: this.title,
        contractor: this.contractor,
      };
    },
    /**
     * @returns {Map} errors
     */
    validate() {
      let map = new Map();

      if (!this.title) {
        map.set('account', 'Название обязательно.');
      }

      return map;
    },
    onClearContractor() {
      this.contractor = new Item();
    },
  },
  mounted: function () {
    this.$nextTick(() => {
      this.$refs.first_focus.focus();
    });
  },
};
</script>
