<template>
  <form class="filter-form" method="GET">
    <div class="date-filters" v-trim-whitespace>
      <div class="date-mode">
        <label for="by-months"><input type="radio" id="by-months" value="by_months" v-model="timeMode">по месяцам</label>
        <label for="by-date"><input type="radio" id="by-date" value="by_date" v-model="timeMode">по дате</label>
      </div>
      <template v-if="timeMode === 'by_date'">
        <div class="selectable-element">
          <label for="date" class="select-label">Дата</label>
          <input id="date" class="form-control date" name="date" type="date" :value="date"/>
        </div>
      </template>
      <template v-else>
        <div class="month-year">
          <selectable
            :initial-items="years"
            :initial-selected-items="selectedYears"
            :any-item="anyItem"
            name="years[]"
          >Год:
          </selectable>
          <selectable
            :initial-items="months"
            :initial-selected-items="selectedMonths"
            :any-item="anyItem"
            name="months[]"
          >Месяц:
          </selectable>
        </div>
        <selectable
          class="sort-mode"
          :initial-items="sortModes"
          :initial-selected-items="[selectedSortMode]"
          :one-value="true"
          name="sort"
        >Сортировать по дате,
        </selectable>
      </template>
    </div>
    <div class="flexed">
      <read-only-autocomplete id="category" name="category"
                              :query-route="route('api.categories.find')"
                              :value="category"
                              @keydown.enter.stop.prevent="onEnter">
        <template v-slot:label><label for="category">Категория</label></template>
      </read-only-autocomplete>
      <product-autocomplete id="product" name="product"
                            v-model="product"
                            @keydown.enter.stop.prevent="onEnter"
                            :allow-add-product="false"
                            class="form-group product-filter"
                            label="Товар">
      </product-autocomplete>
      <read-only-autocomplete id="contractor" name="contractor"
                              :query-route="route('api.contractors.find')"
                              :value="contractor"
                              @keydown.enter.stop.prevent="onEnter">
        <template v-slot:label><label for="contractor">Контрагент</label></template>
      </read-only-autocomplete>
      <div class="form-group is-favorite">
        <label><input type="checkbox" name="is_favorite" v-model="is_favorite"/>в избранном</label>
      </div>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-primary" type="submit" ref="apply">Применить</button>
      </div>
    </div>
    <div v-html="csrf"></div>
  </form>
</template>

<script>
import ProductAutocomplete from '../ProductAutocomplete.vue';
import Selectable from '../../Selectable.vue';
import ReadOnlyAutocomplete from '../../ReadOnlyAutocomplete.vue';
import {routeAdapter} from '../../../vue_mixins';
import {EventBus} from '../../../event_bus';

export default {
  name: 'FilterExt',
  components: {
    ProductAutocomplete,
    Selectable,
    ReadOnlyAutocomplete,
  },
  mixins: [
    routeAdapter,
  ],
  props: {
    years: Object,
    selectedYears: Object | Array,
    months: Object,
    selectedMonths: Object | Array,
    selectedDate: String,
    selectedSortMode: String,
    category: String,
    selectedProduct: Object,
    contractor: String,
    isFavorite: Boolean,
    anyItem: {
      type: Object,
      default: function () {
        return {any: 'Любой'};
      },
    },
    csrf: String,
  },
  data() {
    return {
      timeMode: this.selectedDate.length ? 'by_date' : 'by_months',
      date: this.selectedDate,
      sortModes: {
        asc: 'по возрастанию',
        desc: 'по убыванию',
      },
      product: this.selectedProduct,
      is_favorite: this.isFavorite,
    };
  },

  methods: {
    onFilterByDate(date) {
      this.timeMode = 'by_date';
      this.date = date;
      this.onEnter();
    },
    onEnter() {
      this.$nextTick(() => {
        this.$refs.apply.click();
      });
    },
  },
  created: function () {
    EventBus.$on('filter-by-date', this.onFilterByDate);
  },
};
</script>
