<template>
  <form class="filter-form" method="GET">
    <div class="month form-group">
      <div class="changer-block">
        <div class="changer-elements">
          <div class="changer prev">
            <a class="btn-sm btn-primary" title="Предыдущий" :href="prevRoute" v-if="prevRoute">
              <span class="icon icon-arrow-left"></span>
            </a>
          </div>
          <div class="changer-title">{{ monthTitle }}, {{ year }}</div>
          <div class="changer next">
            <a class="btn-sm btn-primary" title="Следующий" :href="nextRoute" v-if="nextRoute">
              <span class="icon icon-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
      <input type="hidden" name="month" :value="monthData"/>
    </div>
    <div class="flexed">
      <read-only-autocomplete id="category" name="category"
                              :query-route="route('api.categories.find')"
                              :value="category"
                              @keydown.enter.stop.prevent="onEnter">
        <template v-slot:label><label for="category">Категория</label></template>
      </read-only-autocomplete>
      <product-autocomplete id="product" name="product"
                            v-model="product"
                            @keydown.enter.stop.prevent="onEnter"
                            :allow-add-product="false"
                            class="form-group product-filter"
                            label="Товар">
      </product-autocomplete>
      <read-only-autocomplete id="contractor" name="contractor"
                              :query-route="route('api.contractors.find')"
                              :value="contractor"
                              @keydown.enter.stop.prevent="onEnter">
        <template v-slot:label><label for="contractor">Контрагент</label></template>
      </read-only-autocomplete>
      <div class="form-group form-actions">
        <button class="btn btn-sm btn-primary" type="submit" ref="apply">Применить</button>
      </div>
    </div>
    <div v-html="csrf"></div>
  </form>
</template>

<script>
import ProductAutocomplete from '../ProductAutocomplete.vue';
import Selectable from '../../Selectable.vue';
import ReadOnlyAutocomplete from '../../ReadOnlyAutocomplete.vue';
import {routeAdapter} from '../../../vue_mixins';


export default {
  name: 'FilterMonth',
  components: {
    ProductAutocomplete,
    Selectable,
    ReadOnlyAutocomplete,
  },
  mixins: [
    routeAdapter,
  ],
  props: {
    category: String,
    initProduct: Object,
    contractor: String,
    sortMode: String,
    month: Number,
    monthTitle: String,
    year: String,
    anyItem: {
      type: Object,
      default: function () {
        return {any: 'Любой'};
      },
    },
    prevRoute: String,
    nextRoute: String,
    csrf: String,
  },
  data() {
    return {
      sortModes: {
        asc: 'по возрастанию',
        desc: 'по убыванию',
      },
      product: this.initProduct,
    };
  },
  computed: {
    monthData() {
      return `${this.year}-${this.month}`;
    },
  },
  methods: {
    onEnter() {
      this.$nextTick(() => {
        this.$refs.apply.click();
      });
    },
  },
};
</script>
