<template>
  <div class="journal">
    <table class="table table-sm table-bordered expenses-table">
      <thead>
      <tr>
        <th scope="col">Товар</th>
        <th scope="col" class="expense-quantity">Кол-во</th>
        <th scope="col" class="expense-amount">Сумма</th>
        <th scope="col" class="expense-contractor">Контрагент</th>
        <th scope="col" class="actions">Действия</th>
      </tr>
      </thead>
      <tbody>
      <template v-for="date_expenses in expenses">
        <tr class="expense">
          <td :colspan="columnsCount" class="date-header">
            <button class="btn-link" @click="filterByDate(date_expenses.date)" title="Фильтр по этой дате">
              {{ date_expenses.date }}
              <span class="icon icon-filter"></span>
            </button>
          </td>
        </tr>
        <template v-for="expense in date_expenses.expenses">
          <tr class="expense">
            <td class="expense-product">{{ formatter.product(expense.product) }}</td>
            <td class="expense-quantity">
              <alterable-quantity :expense="expense" :units="units" @change-unit="changeExpenseUnit(expense, $event)"></alterable-quantity>
            </td>
            <td class="expense-amount">{{ expense.amount|amount }}</td>
            <td class="expense-contractor">{{ expense.contractor|item }}</td>
            <td class="actions" v-trim-whitespace>
              <div class="flexed">
                <button class="btn-link as-icon" @click="splitOn(expense)" title="Разбить">
                  <span class="icon icon-split"></span>
                </button>
                <button class="btn-link as-icon" @click="updateOn(expense)" title="Изменить">
                  <span class="icon icon-edit"></span>
                </button>
                <button class="btn-link as-icon" @click="addToFavorites(expense)" title="Добавить в избранное" v-if="!expense.is_favorite">
                  <span class="icon icon-star-empty"></span>
                </button>
                <button class="btn-link as-icon" @click="removeFromFavorites(expense)" title="Убрать из избранного" v-else>
                  <span class="icon icon-star-full"></span>
                </button>
                <button class="btn-link as-icon" @click="addToTracking(expense)" title="Добавить в список для учета" v-if="!expense.is_tracking">
                  <span class="icon icon-to_tracking"></span>
                </button>
                <button class="btn-link as-icon" @click="remove(expense)" title="Удалить">
                  <span class="icon icon-delete red"></span>
                </button>
              </div>
            </td>
          </tr>
          <tr class="expense" v-if="expense.note">
            <td :colspan="columnsCount" class="expense-note">{{ expense.note }}</td>
          </tr>
        </template>
        <tr class="total-row">
          <td colspan="2">Итого за {{ date_expenses.date }}</td>
          <td class="expense-amount">{{ date_expenses.total()|amount }}</td>
          <td :colspan="columnsCount-3"></td>
        </tr>
        <tr class="splitter" v-if="isMultiDates()">
          <td :colspan="columnsCount"></td>
        </tr>
      </template>

      <tr class="total-row" v-if="isMultiDates()">
        <td colspan="2">Итого</td>
        <td class="expense-amount">{{ total()|amount }}</td>
        <td :colspan="columnsCount-3"></td>
      </tr>
      </tbody>
    </table>
    <modal v-if="splittingExpense" @closed="splittingExpense=null" class="splitting-expense">
      <template v-slot:header>
        <span class="inline"><label>Дата</label>{{ splittingExpense.date }}</span>
        <span class="inline"><label>Контрагент</label>{{ splittingExpense.contractor|item }}</span>
        <span class="inline"><label>Сумма</label>{{ splittingExpense.amount|amount }}</span>
      </template>
      <template v-slot:body>
        <expense-splitting-form :initial-expense="splittingExpense" @save="onSplit" ref="splittingForm"></expense-splitting-form>
      </template>
      <template v-slot:close_label>Отменить</template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" @click="split">Сохранить</button>
      </template>
    </modal>
    <modal v-if="updatingExpense" @closed="updatingExpense=null" class="updating-expense">
      <template v-slot:header>
        Изменить расход
      </template>
      <template v-slot:body>
        <expense-updating-form :initial-expense="updatingExpense" :units="units" @save="onUpdate" ref="editingForm"></expense-updating-form>
      </template>
      <template v-slot:close_label>Отменить</template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" @click="update">Обновить</button>
      </template>
    </modal>
  </div>
</template>

<script>
import CategoryApi from '../../../api/category';
import ExpenseApi from '../../../api/expense';
import {filters, msgToUser} from '../../../vue_mixins';
import {EventBus} from '../../../event_bus';
import ExpenseSplittingForm from './../ExpenseSplittingForm';
import ExpenseUpdatingForm from './../ExpenseUpdatingForm';
import Modal from '../../Modal';
import {Formatter} from '../../../Formatter';
import {date_format, date_from_format} from '../../../functions';
import AlterableQuantity from '../../AlterableQuantity';
import {DateExpenses} from '../../../DateExpenses';

export default {
  mixins: [
    msgToUser,
    filters,
  ],
  components: {
    ExpenseSplittingForm,
    ExpenseUpdatingForm,
    Modal,
    AlterableQuantity,
  },
  data() {
    return {
      formatter: new Formatter(),
      columnsCount: 5,
      expenses: this.initExpenses(this.items),
      units: this.initUnits,
      splittingExpense: null,
      updatingExpense: null,
      startTrackingExpense: null,
    };
  },
  props: {
    items: Array,
    initUnits: Object,
  },
  methods: {
    initExpenses(expenses) {
      let items = {};

      for (let expense of expenses) {
        expense.is_favorite = Boolean(expense.is_favorite);
        let date = expense.date;
        if ('undefined' === typeof items[date]) {
          items[date] = new DateExpenses(date);
        }

        items[date].add(expense);
      }

      return items;
    },
    total() {
      let total = 0.0;
      for (let date in this.expenses) {
        total += this.expenses[date].total();
      }

      return total;
    },
    isMultiDates() {
      return Object.keys(this.expenses).length > 1;
    },
    splitOn(origExpense) {
      this.splittingExpense = origExpense;
    },
    split() {
      this.$refs.splittingForm.save();
    },
    onSplit(expenses) {
      let new_expenses = [];
      for (let newExpense of expenses) {
        new_expenses.push({
          product_id: newExpense.product.id,
          quantity: newExpense.quantity,
          amount: newExpense.amount,
          note: newExpense.note,
        });
      }

      ExpenseApi.split(this.splittingExpense.id, new_expenses)
        .then((response) => {
          if ('success' === response.data.type) {
            this.expenses[this.splittingExpense.date].remove(this.splittingExpense);
            for (let expense of response.data.expenses) {
              this.addExpense(expense);
            }
            this.splittingExpense = null;

            this.$emit('expense-splitted');
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    updateOn(origExpense) {
      this.updatingExpense = origExpense;
    },
    update() {
      this.$refs.editingForm.save();
    },
    onUpdate(expense, originalExpense) {
      ExpenseApi.update(expense.id, {
        date: expense.date,
        product_id: expense.product.id,
        unit_id: expense.unit.id,
        quantity: expense.quantity,
        amount: expense.amount,
        contractor_id: expense.contractor ? expense.contractor.id : '',
        note: expense.note,
      })
        .then((response) => {

          if ('success' === response.data.type) {
            let responseExpense = response.data.expense;

            if (response.data.totals) {
              EventBus.$emit('totals-updated', response.data.totals);
            }

            let date = responseExpense.date;

            if ('undefined' === typeof this.expenses[date]
              || date_from_format(responseExpense.date) !== originalExpense.date) {
              this.addExpense(responseExpense);
              this.removeExpense(originalExpense);
            }
            else {
              this.expenses[date].update(responseExpense);
            }

            this.updatingExpense = null;

            this.$emit('expense-updated');
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    addToTracking(expense) {
      ExpenseApi.add_to_tracking(expense.id)
        .then((response) => {
          expense.is_tracking = true;
          for (let date in this.expenses) {
            this.expenses[date].setTrackingFlag(expense.id);
          }
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    addExpense(expense) {
      let wasEmpty = !this.hasExpenses();

      let date = date_format(expense.date);

      if ('undefined' === typeof this.expenses[date]) {
        this.expenses[date] = new DateExpenses(date);
      }

      this.expenses[date].add(expense);
      this.expenses = Object.assign({}, this.expenses);

      if (wasEmpty) {
        this.$emit('became-not-empty');
      }
    },
    remove(expense) {
      if (!confirm('Удалить расход?')) {
        return;
      }

      ExpenseApi.remove(expense.id)
        .then((response) => {
          if ('success' === response.data.type) {
            EventBus.$emit('totals-updated', response.data.totals);
            this.removeExpense(expense);
            EventBus.$emit('expense-removed', expense);
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    addToFavorites(expense) {
      ExpenseApi.add_to_favorites(expense.id)
        .then((response) => {
          expense.is_favorite = true;
          EventBus.$emit('expense-added-to-favorites', expense, response.data.prev_favorite_id);
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    removeFromFavorites(expense) {
      ExpenseApi.remove_from_favorites(expense.id)
        .then((response) => {
          expense.is_favorite = false;
          EventBus.$emit('expense-removed-from-favorites', expense.id);
          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    removeExpense(expense) {
      let date = date_format(expense.date);
      this.expenses[date].remove(expense);

      if (0 === this.expenses[date].countExpenses()) {
        delete this.expenses[date];
      }

      if (!this.hasExpenses()) {
        this.$emit('became-empty');
      }
    },
    hasExpenses() {
      return Object.values(this.expenses).length > 0;
    },
    changeExpenseUnit(expense, unit) {
      ExpenseApi.setUnit({unit_id: unit.id, expense_id: expense.id})
        .then((response) => {
          if ('success' === response.data.type) {
            expense.unit = unit;
          }

          this.processResponse(response);
        }).catch((response) => {
        this.processCatch(response);
      });
    },
    onExpenseRemovedFromFavorites(expense_id) {
      for (let date in this.expenses) {
        this.expenses[date].clearFavoriteFlag(expense_id);
      }
    },
    filterByDate(date) {
      EventBus.$emit('filter-by-date', date_from_format(date));
    },
    onSetUnit(unit) {
      // Ставим единицы измерения только в случае, если есть фильтр по товару.
      let url = new URL(location.href);
      if (!url.searchParams.get('product') && !url.searchParams.get('category')) {
        return;
      }
      let data = {
        unit_id: unit.id,
      };
      if (url.searchParams.get('product')) {
        data['product_id'] = this.items[0].product.id;
      }
      if (url.searchParams.get('category')) {
        CategoryApi.findByTitle(url.searchParams.get('category'))
          .then((response) => {

            if (!response.data.length) {
              return;
            }

            data['category_id'] = response.data[0].id;

            ExpenseApi.setUnit(data)
              .then((response) => {
                if ('success' === response.data.type) {
                  for (let date in this.expenses) {
                    this.expenses[date].setUnit(unit.title);
                  }
                }

                this.processResponse(response);
              }).catch((response) => {
              this.processCatch(response);
            });
          }).catch((response) => {
          this.processCatch(response);
        });
      }
    },
    onUnitAdded(unit) {
      let newUnit = {};
      newUnit[unit.id] = unit.title;
      this.units = Object.assign(this.units, newUnit);
    },
  },
  created() {
    EventBus.$on('set-unit', this.onSetUnit);
    EventBus.$on('unit-added', this.onUnitAdded);
    EventBus.$on('expense-removed-from-favorites', this.onExpenseRemovedFromFavorites);
  },
};
</script>
