<template>
  <form class="units-form" v-trim-whitespace>
    <select-unit :units="units" v-model="unit">Установить ед. изм.</select-unit>
    <div class="form-group">
      <button class="btn btn-link" type="button" @click="setUnit">установить для выбранных записей</button>
    </div>
  </form>
</template>

<script>

import {EventBus} from "../../../event_bus";
import SelectUnit from "../../unit/Select";

export default {
  name: "JournalSetUnits",
  components: {
    SelectUnit,
  },
  data() {
    return {
      unit: this._initUnit(this.initUnits),
      units: this.initUnits,
    };
  },
  props: {
    initUnits: Object,
  },
  methods: {
    _initUnit(units) {
      return Object.keys(units)[0];
    },
    onUnitAdded(unit) {
      let newUnit = {};
      newUnit[unit.id] = unit.title;
      this.units = Object.assign(this.units, newUnit);
      this.unit = unit.id;
    },
    setUnit() {
      EventBus.$emit("set-unit", {id: this.unit, title: this.units[this.unit]});
    },
  },
  created() {
    EventBus.$on('unit-added', this.onUnitAdded);
  },
};
</script>
