<template>
  <form class="new-tracking">
    <div class="new-tracking-product">
      <label>Продукт</label><span>{{ formatter.product(expense.product) }} ({{ expense.quantity }} | {{ expense.unit|item }})</span>
    </div>
    <div class="inputs">
      <div>
        <label for="quantity">Кол-во</label>
        <input id="quantity" class="form-control quantity"
               :class="errors.has('quantity') ? 'error' : ''"
               type="text" size="4"
               v-model="qty">
        <div class="invalid-feedback" v-show="errors.has('quantity')">{{ errors.get('quantity') }}</div>
      </div>
      <div>
        {{ expense.unit|item }}
      </div>
      <div class="start-date">
        <label for="date">Дата начала</label>
        <input id="date" class="form-control date"
               :class="errors.has('date') ? 'error' : ''"
               name="date" type="date"
               v-model="startDate">
        <div class="invalid-feedback" v-show="errors.has('date')">{{ errors.get('date') }}</div>
      </div>
      <div class="action">
        <button class="btn btn-primary btn-sm" type="button" @click="add">Добавить</button>
      </div>
    </div>
  </form>
</template>

<script>
import TrackingApi from '../../../api/tracking';
import {filters, msgToUser} from '../../../vue_mixins';
import Modal from '../../Modal';
import {Formatter} from '../../../Formatter';


export default {
  name: 'StartTrackingForm',
  mixins: [
    msgToUser,
    filters,
  ],
  components: {
    Modal,
  },
  props: {
    expense: Object,
  },
  data() {
    return {
      formatter: new Formatter(),
      qty: this.expense.quantity,
      startDate: new Date().toJSON().slice(0, 10),
      errors: new Map(),
    };
  },
  methods: {
    add() {
      TrackingApi.add(this.expense.id, this.startDate, this.qty)
        .then((response) => {
          if ('success' === response.data.type) {
            this.$emit('tracking-added', this.expense.id);
          }

          this.processResponse(response);
        });
    },
  },
};
</script>
